# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Apr 10 2025 16:41:07

# Family & Device:    iCE40LP8K

# Package:            CM81

# ##############################################################################

###IOSet List 11
set_io RST_N C2
set_io s13 E2
set_io CLK B2
set_io clk_output A6
set_io s12 H1
set_io s14 D2
set_io sel_output A9
set_io xor_out_dyn J1
set_io miso_input A8
set_io mosi_output H9
set_io xor_out_stat C9

