set_location FSM_TEST_inst_RAPIDA.CLK_uC_RNO 13 23 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_LC_0)
set_location FSM_TEST_inst_RAPIDA.CLK_uC 13 23 7 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_LC_0)
set_location FSM_TEST_inst_RAPIDA.MOSI_er_RNO 13 18 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.MOSI_er_LC_1)
set_location FSM_TEST_inst_RAPIDA.MOSI_er 13 18 0 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.MOSI_er_LC_1)
set_location FSM_TEST_inst_RAPIDA.SEL_0_RNI7M5D1 13 18 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.SEL_0_RNI7M5D1_LC_2)
set_location FSM_TEST_inst_RAPIDA.SEL_0_RNI7M5D1_0 13 17 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.SEL_0_RNI7M5D1_0_LC_3)
set_location FSM_TEST_inst_RAPIDA.SEL_0_RNI8H3V3 13 18 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.SEL_0_RNI8H3V3_LC_4)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[0] 12 20 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[0]_LC_5)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[0] 12 20 1 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[0]_LC_5)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[1] 12 20 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[1]_LC_6)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[1] 12 20 3 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[1]_LC_6)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[10] 13 21 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[10]_LC_7)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[10] 13 21 0 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[10]_LC_7)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[11] 13 21 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[11]_LC_8)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[11] 13 21 1 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[11]_LC_8)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[12] 13 21 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[12]_LC_9)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[12] 13 21 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[12]_LC_9)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[13] 12 21 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[13]_LC_10)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[13] 12 21 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[13]_LC_10)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[14] 12 21 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[14]_LC_11)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[14] 12 21 6 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[14]_LC_11)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[15] 12 20 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[15]_LC_12)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[15] 12 20 0 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[15]_LC_12)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[2] 12 20 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[2]_LC_13)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[2] 12 20 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[2]_LC_13)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[3] 12 20 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[3]_LC_14)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[3] 12 20 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[3]_LC_14)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[4] 12 20 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[4]_LC_15)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[4] 12 20 5 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[4]_LC_15)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[5] 12 20 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[5]_LC_16)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[5] 12 20 2 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[5]_LC_16)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[6] 12 20 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[6]_LC_17)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[6] 12 20 6 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[6]_LC_17)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[7] 13 21 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[7]_LC_18)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[7] 13 21 5 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[7]_LC_18)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[8] 13 21 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[8]_LC_19)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[8] 13 21 3 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[8]_LC_19)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[9] 13 21 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[9]_LC_20)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[9] 13 21 6 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_din[9]_LC_20)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[1] 11 20 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[1]_LC_21)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[1] 11 20 2 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[1]_LC_21)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[10] 14 22 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[10]_LC_22)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[10] 14 22 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[10]_LC_22)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[11] 15 22 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[11]_LC_23)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[11] 15 22 0 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[11]_LC_23)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[12] 15 22 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[12]_LC_24)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[12] 15 22 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[12]_LC_24)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[13] 15 22 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[13]_LC_25)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[13] 15 22 3 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[13]_LC_25)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[14] 15 22 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[14]_LC_26)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[14] 15 22 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[14]_LC_26)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[15] 15 22 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[15]_LC_27)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[15] 15 22 5 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[15]_LC_27)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[16] 15 22 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[16]_LC_28)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[16] 15 22 2 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[16]_LC_28)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[17] 15 22 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[17]_LC_29)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[17] 15 22 6 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[17]_LC_29)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[18] 12 22 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[18]_LC_30)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[18] 12 22 0 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[18]_LC_30)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[19] 11 22 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[19]_LC_31)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[19] 11 22 1 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[19]_LC_31)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[2] 11 20 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[2]_LC_32)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[2] 11 20 3 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[2]_LC_32)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[20] 11 22 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[20]_LC_33)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[20] 11 22 2 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[20]_LC_33)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[21] 11 22 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[21]_LC_34)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[21] 11 22 3 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[21]_LC_34)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[22] 11 22 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[22]_LC_35)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[22] 11 22 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[22]_LC_35)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[23] 11 22 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[23]_LC_36)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[23] 11 22 6 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[23]_LC_36)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[24] 11 22 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[24]_LC_37)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[24] 11 22 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[24]_LC_37)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[25] 12 22 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[25]_LC_38)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[25] 12 22 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[25]_LC_38)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[26] 12 22 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[26]_LC_39)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[26] 12 22 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[26]_LC_39)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[27] 12 22 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[27]_LC_40)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[27] 12 22 3 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[27]_LC_40)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[28] 13 22 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[28]_LC_41)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[28] 13 22 4 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[28]_LC_41)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[29] 13 22 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[29]_LC_42)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[29] 13 22 2 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[29]_LC_42)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[3] 11 20 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[3]_LC_43)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[3] 11 20 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[3]_LC_43)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[30] 14 22 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[30]_LC_44)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[30] 14 22 1 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[30]_LC_44)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[31] 14 21 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[31]_LC_45)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[31] 14 21 0 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[31]_LC_45)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[32] 14 21 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[32]_LC_46)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[32] 14 21 5 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[32]_LC_46)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[33] 15 21 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[33]_LC_47)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[33] 15 21 1 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[33]_LC_47)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[34] 15 21 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[34]_LC_48)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[34] 15 21 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[34]_LC_48)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[35] 15 20 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[35]_LC_49)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[35] 15 20 1 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[35]_LC_49)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[36] 15 20 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[36]_LC_50)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[36] 15 20 6 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[36]_LC_50)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[37] 16 21 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[37]_LC_51)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[37] 16 21 3 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[37]_LC_51)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[38] 16 21 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[38]_LC_52)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[38] 16 21 0 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[38]_LC_52)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[39] 15 21 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[39]_LC_53)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[39] 15 21 2 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[39]_LC_53)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[4] 11 20 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[4]_LC_54)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[4] 11 20 5 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[4]_LC_54)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[40] 15 20 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[40]_LC_55)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[40] 15 20 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[40]_LC_55)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[41] 15 21 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[41]_LC_56)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[41] 15 21 5 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[41]_LC_56)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[42] 16 22 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[42]_LC_57)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[42] 16 22 3 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[42]_LC_57)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[43] 16 21 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[43]_LC_58)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[43] 16 21 2 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[43]_LC_58)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[44] 16 21 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[44]_LC_59)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[44] 16 21 5 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[44]_LC_59)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[45] 16 20 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[45]_LC_60)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[45] 16 20 6 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[45]_LC_60)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[46] 15 20 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[46]_LC_61)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[46] 15 20 0 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[46]_LC_61)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[47] 15 21 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[47]_LC_62)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[47] 15 21 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[47]_LC_62)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[48] 15 21 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[48]_LC_63)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[48] 15 21 3 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[48]_LC_63)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[49] 15 21 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[49]_LC_64)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[49] 15 21 6 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[49]_LC_64)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[5] 11 20 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[5]_LC_65)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[5] 11 20 6 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[5]_LC_65)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[50] 14 21 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[50]_LC_66)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[50] 14 21 6 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[50]_LC_66)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[51] 14 21 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[51]_LC_67)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[51] 14 21 2 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[51]_LC_67)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[52] 14 21 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[52]_LC_68)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[52] 14 21 1 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[52]_LC_68)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[53] 14 21 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[53]_LC_69)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[53] 14 21 4 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[53]_LC_69)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[54] 13 22 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[54]_LC_70)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[54] 13 22 1 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[54]_LC_70)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[55] 13 22 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[55]_LC_71)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[55] 13 22 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[55]_LC_71)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[56] 14 23 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[56]_LC_72)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[56] 14 23 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[56]_LC_72)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[57] 14 23 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[57]_LC_73)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[57] 14 23 0 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[57]_LC_73)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[58] 14 22 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[58]_LC_74)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[58] 14 22 5 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[58]_LC_74)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[59] 13 22 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[59]_LC_75)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[59] 13 22 0 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[59]_LC_75)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[6] 11 20 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[6]_LC_76)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[6] 11 20 7 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[6]_LC_76)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[60] 13 22 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[60]_LC_77)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[60] 13 22 5 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[60]_LC_77)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[61] 14 22 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[61]_LC_78)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[61] 14 22 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[61]_LC_78)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[62] 16 22 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[62]_LC_79)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[62] 16 22 1 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[62]_LC_79)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[63] 16 21 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[63]_LC_80)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[63] 16 21 7 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[63]_LC_80)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[64] 16 21 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[64]_LC_81)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[64] 16 21 6 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[64]_LC_81)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[65] 15 20 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[65]_LC_82)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[65] 15 20 5 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[65]_LC_82)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[66] 15 20 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[66]_LC_83)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[66] 15 20 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[66]_LC_83)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[67] 16 20 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[67]_LC_84)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[67] 16 20 3 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[67]_LC_84)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[68] 16 20 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[68]_LC_85)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[68] 16 20 0 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[68]_LC_85)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[69] 16 22 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[69]_LC_86)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[69] 16 22 2 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[69]_LC_86)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[7] 11 22 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[7]_LC_87)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[7] 11 22 0 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[7]_LC_87)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[70] 16 22 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[70]_LC_88)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[70] 16 22 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[70]_LC_88)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[71] 16 22 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[71]_LC_89)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[71] 16 22 5 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[71]_LC_89)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[72] 16 22 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[72]_LC_90)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[72] 16 22 6 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[72]_LC_90)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[73] 16 22 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[73]_LC_91)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[73] 16 22 7 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[73]_LC_91)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[74] 15 22 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[74]_LC_92)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[74] 15 22 1 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[74]_LC_92)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[75] 14 22 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[75]_LC_93)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[75] 14 22 3 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[75]_LC_93)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[76] 13 22 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[76]_LC_94)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[76] 13 22 6 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[76]_LC_94)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[77] 12 22 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[77]_LC_95)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[77] 12 22 6 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[77]_LC_95)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[78] 12 22 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[78]_LC_96)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[78] 12 22 5 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[78]_LC_96)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[79] 12 22 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[79]_LC_97)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[79] 12 22 2 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[79]_LC_97)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[8] 14 22 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[8]_LC_98)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[8] 14 22 6 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[8]_LC_98)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[80] 14 23 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[80]_LC_99)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[80] 14 23 4 # SB_DFFER (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[80]_LC_99)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[81] 15 21 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[81]_LC_100)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[81] 15 21 0 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[81]_LC_100)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[82] 15 20 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[82]_LC_101)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[82] 15 20 3 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[82]_LC_101)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[83] 15 19 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[83]_LC_102)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[83] 15 19 0 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[83]_LC_102)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[84] 15 19 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[84]_LC_103)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[84] 15 19 1 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[84]_LC_103)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[85] 15 19 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[85]_LC_104)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[85] 15 19 4 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[85]_LC_104)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[86] 15 19 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[86]_LC_105)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[86] 15 19 7 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[86]_LC_105)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[87] 15 19 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[87]_LC_106)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[87] 15 19 2 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[87]_LC_106)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[9] 14 22 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[9]_LC_107)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[9] 14 22 0 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[9]_LC_107)
set_location FSM_TEST_inst_RAPIDA.counter_din_RNI9NO1[1] 13 19 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_din_RNI9NO1[1]_LC_108)
set_location FSM_TEST_inst_RAPIDA.counter_din_RNIEMB2[3] 16 19 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_din_RNIEMB2[3]_LC_109)
set_location FSM_TEST_inst_RAPIDA.counter_din_RNO[0] 14 19 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_din[0]_LC_110)
set_location FSM_TEST_inst_RAPIDA.counter_din[0] 14 19 7 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_din[0]_LC_110)
set_location FSM_TEST_inst_RAPIDA.counter_din_RNO_0[2] 12 19 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_din_RNO_0[2]_LC_111)
set_location FSM_TEST_inst_RAPIDA.counter_din_RNO[1] 12 19 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_din[1]_LC_112)
set_location FSM_TEST_inst_RAPIDA.counter_din[1] 12 19 6 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_din[1]_LC_112)
set_location FSM_TEST_inst_RAPIDA.counter_din_RNO[2] 12 19 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_din[2]_LC_113)
set_location FSM_TEST_inst_RAPIDA.counter_din[2] 12 19 1 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_din[2]_LC_113)
set_location FSM_TEST_inst_RAPIDA.counter_din_RNO[3] 12 19 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_din[3]_LC_114)
set_location FSM_TEST_inst_RAPIDA.counter_din[3] 12 19 7 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_din[3]_LC_114)
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNI23T81[5] 11 21 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle_RNI23T81[5]_LC_115)
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[0] 11 21 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[0]_LC_116)
set_location FSM_TEST_inst_RAPIDA.counter_idle[0] 11 21 6 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[0]_LC_116)
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[1] 11 19 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[1]_LC_117)
set_location FSM_TEST_inst_RAPIDA.counter_idle[1] 11 19 2 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[1]_LC_117)
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[2] 11 21 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[2]_LC_118)
set_location FSM_TEST_inst_RAPIDA.counter_idle[2] 11 21 2 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[2]_LC_118)
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[3] 11 21 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[3]_LC_119)
set_location FSM_TEST_inst_RAPIDA.counter_idle[3] 11 21 3 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[3]_LC_119)
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[4] 11 21 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[4]_LC_120)
set_location FSM_TEST_inst_RAPIDA.counter_idle[4] 11 21 0 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[4]_LC_120)
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[5] 10 21 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[5]_LC_121)
set_location FSM_TEST_inst_RAPIDA.counter_idle[5] 10 21 5 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle[5]_LC_121)
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNIUUIP1[6] 10 20 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_RNIUUIP1[6]_LC_122)
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[0] 10 20 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[0]_LC_123)
set_location FSM_TEST_inst_RAPIDA.counter_stat[0] 10 20 5 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[0]_LC_123)
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[1] 10 20 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[1]_LC_124)
set_location FSM_TEST_inst_RAPIDA.counter_stat[1] 10 20 6 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[1]_LC_124)
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[2] 10 20 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[2]_LC_125)
set_location FSM_TEST_inst_RAPIDA.counter_stat[2] 10 20 7 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[2]_LC_125)
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[3] 10 20 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[3]_LC_126)
set_location FSM_TEST_inst_RAPIDA.counter_stat[3] 10 20 2 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[3]_LC_126)
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[4] 10 20 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[4]_LC_127)
set_location FSM_TEST_inst_RAPIDA.counter_stat[4] 10 20 0 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[4]_LC_127)
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[5] 10 20 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[5]_LC_128)
set_location FSM_TEST_inst_RAPIDA.counter_stat[5] 10 20 1 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[5]_LC_128)
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[6] 9 20 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[6]_LC_129)
set_location FSM_TEST_inst_RAPIDA.counter_stat[6] 9 20 6 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat[6]_LC_129)
set_location FSM_TEST_inst_RAPIDA.current_state_1_rep1_RNO 14 19 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_1_rep1_LC_130)
set_location FSM_TEST_inst_RAPIDA.current_state_1_rep1 14 19 5 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.current_state_1_rep1_LC_130)
set_location FSM_TEST_inst_RAPIDA.current_state_1_rep2_RNO 17 19 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_1_rep2_LC_131)
set_location FSM_TEST_inst_RAPIDA.current_state_1_rep2 17 19 0 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.current_state_1_rep2_LC_131)
set_location FSM_TEST_inst_RAPIDA.current_state_RNO[0] 12 19 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state[0]_LC_132)
set_location FSM_TEST_inst_RAPIDA.current_state[0] 12 19 5 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.current_state[0]_LC_132)
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_0[0] 11 19 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_RNO_0[0]_LC_133)
set_location FSM_TEST_inst_RAPIDA.current_state_RNO[1] 17 19 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state[1]_LC_134)
set_location FSM_TEST_inst_RAPIDA.current_state[1] 17 19 7 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.current_state[1]_LC_134)
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_1[0] 12 19 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_RNO_1[0]_LC_135)
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_2[0] 12 19 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_RNO_2[0]_LC_136)
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_3[0] 11 20 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_RNO_3[0]_LC_137)
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_4[0] 10 19 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_RNO_4[0]_LC_138)
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_5[0] 12 19 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_RNO_5[0]_LC_139)
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_6[0] 11 21 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_RNO_6[0]_LC_140)
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_7[0] 11 21 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_RNO_7[0]_LC_141)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_RNI2J9G 11 19 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_RNI2J9G_LC_142)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_RNI2J9G_0 11 19 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_RNI2J9G_0_LC_143)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_RNO 14 19 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_LC_144)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1 14 19 2 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_LC_144)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_RNI571R2[1] 10 20 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_RNI571R2[1]_LC_145)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_RNI78E11[1] 13 19 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_RNI78E11[1]_LC_146)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_RNI9BBA2[1] 11 21 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_RNI9BBA2[1]_LC_147)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_RNO[1] 14 19 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast[1]_LC_148)
set_location FSM_TEST_inst_RAPIDA.current_state_fast[1] 14 19 3 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast[1]_LC_148)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_fast_RNIHTFF[1] 13 18 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_fast_RNIHTFF[1]_LC_149)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_fast_RNIKIU51[1] 17 18 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_fast_RNIKIU51[1]_LC_150)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_fast_RNO[1] 14 19 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_fast[1]_LC_151)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_fast[1] 14 19 1 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.current_state_fast_fast[1]_LC_151)
set_location FSM_TEST_inst_RAPIDA.flag_output_1_RNIVLAE1 13 18 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.flag_output_1_RNIVLAE1_LC_152)
set_location FSM_TEST_inst_slow.CLK_uC_RNO 7 18 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_LC_153)
set_location FSM_TEST_inst_slow.CLK_uC 7 18 0 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_LC_153)
set_location FSM_TEST_inst_slow.MOSI_er_RNO 10 17 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.MOSI_er_LC_154)
set_location FSM_TEST_inst_slow.MOSI_er 10 17 2 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.MOSI_er_LC_154)
set_location FSM_TEST_inst_slow.SEL_0_RNI25J31 13 17 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.SEL_0_RNI25J31_LC_155)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[0] 9 18 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[0]_LC_156)
set_location FSM_TEST_inst_slow.bit_sequence_din[0] 9 18 3 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[0]_LC_156)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[1] 9 18 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[1]_LC_157)
set_location FSM_TEST_inst_slow.bit_sequence_din[1] 9 18 7 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[1]_LC_157)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[10] 9 18 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[10]_LC_158)
set_location FSM_TEST_inst_slow.bit_sequence_din[10] 9 18 6 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[10]_LC_158)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[11] 9 17 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[11]_LC_159)
set_location FSM_TEST_inst_slow.bit_sequence_din[11] 9 17 6 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[11]_LC_159)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[12] 9 17 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[12]_LC_160)
set_location FSM_TEST_inst_slow.bit_sequence_din[12] 9 17 2 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[12]_LC_160)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[13] 9 17 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[13]_LC_161)
set_location FSM_TEST_inst_slow.bit_sequence_din[13] 9 17 0 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[13]_LC_161)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[14] 9 17 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[14]_LC_162)
set_location FSM_TEST_inst_slow.bit_sequence_din[14] 9 17 3 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[14]_LC_162)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[15] 9 17 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[15]_LC_163)
set_location FSM_TEST_inst_slow.bit_sequence_din[15] 9 17 7 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[15]_LC_163)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[2] 9 17 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[2]_LC_164)
set_location FSM_TEST_inst_slow.bit_sequence_din[2] 9 17 5 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[2]_LC_164)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[3] 9 17 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[3]_LC_165)
set_location FSM_TEST_inst_slow.bit_sequence_din[3] 9 17 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[3]_LC_165)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[4] 9 17 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[4]_LC_166)
set_location FSM_TEST_inst_slow.bit_sequence_din[4] 9 17 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[4]_LC_166)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[5] 9 18 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[5]_LC_167)
set_location FSM_TEST_inst_slow.bit_sequence_din[5] 9 18 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[5]_LC_167)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[6] 9 18 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[6]_LC_168)
set_location FSM_TEST_inst_slow.bit_sequence_din[6] 9 18 0 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[6]_LC_168)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[7] 9 18 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[7]_LC_169)
set_location FSM_TEST_inst_slow.bit_sequence_din[7] 9 18 2 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[7]_LC_169)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[8] 9 18 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[8]_LC_170)
set_location FSM_TEST_inst_slow.bit_sequence_din[8] 9 18 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[8]_LC_170)
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[9] 9 18 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[9]_LC_171)
set_location FSM_TEST_inst_slow.bit_sequence_din[9] 9 18 5 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_din[9]_LC_171)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[1] 11 14 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[1]_LC_172)
set_location FSM_TEST_inst_slow.bit_sequence_stat[1] 11 14 0 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[1]_LC_172)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[10] 12 14 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[10]_LC_173)
set_location FSM_TEST_inst_slow.bit_sequence_stat[10] 12 14 3 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[10]_LC_173)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[11] 12 14 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[11]_LC_174)
set_location FSM_TEST_inst_slow.bit_sequence_stat[11] 12 14 7 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[11]_LC_174)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[12] 12 13 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[12]_LC_175)
set_location FSM_TEST_inst_slow.bit_sequence_stat[12] 12 13 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[12]_LC_175)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[13] 11 13 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[13]_LC_176)
set_location FSM_TEST_inst_slow.bit_sequence_stat[13] 11 13 7 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[13]_LC_176)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[14] 10 13 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[14]_LC_177)
set_location FSM_TEST_inst_slow.bit_sequence_stat[14] 10 13 7 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[14]_LC_177)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[15] 10 13 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[15]_LC_178)
set_location FSM_TEST_inst_slow.bit_sequence_stat[15] 10 13 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[15]_LC_178)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[16] 9 13 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[16]_LC_179)
set_location FSM_TEST_inst_slow.bit_sequence_stat[16] 9 13 6 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[16]_LC_179)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[17] 9 13 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[17]_LC_180)
set_location FSM_TEST_inst_slow.bit_sequence_stat[17] 9 13 7 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[17]_LC_180)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[18] 9 14 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[18]_LC_181)
set_location FSM_TEST_inst_slow.bit_sequence_stat[18] 9 14 0 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[18]_LC_181)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[19] 10 14 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[19]_LC_182)
set_location FSM_TEST_inst_slow.bit_sequence_stat[19] 10 14 5 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[19]_LC_182)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[2] 11 15 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[2]_LC_183)
set_location FSM_TEST_inst_slow.bit_sequence_stat[2] 11 15 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[2]_LC_183)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[20] 10 14 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[20]_LC_184)
set_location FSM_TEST_inst_slow.bit_sequence_stat[20] 10 14 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[20]_LC_184)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[21] 10 14 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[21]_LC_185)
set_location FSM_TEST_inst_slow.bit_sequence_stat[21] 10 14 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[21]_LC_185)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[22] 10 14 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[22]_LC_186)
set_location FSM_TEST_inst_slow.bit_sequence_stat[22] 10 14 3 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[22]_LC_186)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[23] 10 14 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[23]_LC_187)
set_location FSM_TEST_inst_slow.bit_sequence_stat[23] 10 14 0 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[23]_LC_187)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[24] 10 15 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[24]_LC_188)
set_location FSM_TEST_inst_slow.bit_sequence_stat[24] 10 15 5 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[24]_LC_188)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[25] 10 15 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[25]_LC_189)
set_location FSM_TEST_inst_slow.bit_sequence_stat[25] 10 15 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[25]_LC_189)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[26] 10 15 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[26]_LC_190)
set_location FSM_TEST_inst_slow.bit_sequence_stat[26] 10 15 0 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[26]_LC_190)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[27] 10 15 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[27]_LC_191)
set_location FSM_TEST_inst_slow.bit_sequence_stat[27] 10 15 2 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[27]_LC_191)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[28] 10 15 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[28]_LC_192)
set_location FSM_TEST_inst_slow.bit_sequence_stat[28] 10 15 6 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[28]_LC_192)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[29] 10 15 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[29]_LC_193)
set_location FSM_TEST_inst_slow.bit_sequence_stat[29] 10 15 3 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[29]_LC_193)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[3] 11 15 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[3]_LC_194)
set_location FSM_TEST_inst_slow.bit_sequence_stat[3] 11 15 6 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[3]_LC_194)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[30] 9 15 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[30]_LC_195)
set_location FSM_TEST_inst_slow.bit_sequence_stat[30] 9 15 7 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[30]_LC_195)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[31] 9 15 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[31]_LC_196)
set_location FSM_TEST_inst_slow.bit_sequence_stat[31] 9 15 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[31]_LC_196)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[32] 9 16 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[32]_LC_197)
set_location FSM_TEST_inst_slow.bit_sequence_stat[32] 9 16 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[32]_LC_197)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[33] 9 15 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[33]_LC_198)
set_location FSM_TEST_inst_slow.bit_sequence_stat[33] 9 15 1 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[33]_LC_198)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[34] 7 15 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[34]_LC_199)
set_location FSM_TEST_inst_slow.bit_sequence_stat[34] 7 15 7 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[34]_LC_199)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[35] 7 17 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[35]_LC_200)
set_location FSM_TEST_inst_slow.bit_sequence_stat[35] 7 17 2 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[35]_LC_200)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[36] 6 17 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[36]_LC_201)
set_location FSM_TEST_inst_slow.bit_sequence_stat[36] 6 17 3 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[36]_LC_201)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[37] 7 17 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[37]_LC_202)
set_location FSM_TEST_inst_slow.bit_sequence_stat[37] 7 17 6 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[37]_LC_202)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[38] 7 17 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[38]_LC_203)
set_location FSM_TEST_inst_slow.bit_sequence_stat[38] 7 17 1 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[38]_LC_203)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[39] 7 17 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[39]_LC_204)
set_location FSM_TEST_inst_slow.bit_sequence_stat[39] 7 17 0 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[39]_LC_204)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[4] 11 15 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[4]_LC_205)
set_location FSM_TEST_inst_slow.bit_sequence_stat[4] 11 15 2 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[4]_LC_205)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[40] 9 16 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[40]_LC_206)
set_location FSM_TEST_inst_slow.bit_sequence_stat[40] 9 16 7 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[40]_LC_206)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[41] 9 15 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[41]_LC_207)
set_location FSM_TEST_inst_slow.bit_sequence_stat[41] 9 15 2 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[41]_LC_207)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[42] 9 16 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[42]_LC_208)
set_location FSM_TEST_inst_slow.bit_sequence_stat[42] 9 16 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[42]_LC_208)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[43] 11 16 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[43]_LC_209)
set_location FSM_TEST_inst_slow.bit_sequence_stat[43] 11 16 0 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[43]_LC_209)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[44] 11 16 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[44]_LC_210)
set_location FSM_TEST_inst_slow.bit_sequence_stat[44] 11 16 6 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[44]_LC_210)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[45] 11 16 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[45]_LC_211)
set_location FSM_TEST_inst_slow.bit_sequence_stat[45] 11 16 3 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[45]_LC_211)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[46] 11 15 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[46]_LC_212)
set_location FSM_TEST_inst_slow.bit_sequence_stat[46] 11 15 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[46]_LC_212)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[47] 10 15 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[47]_LC_213)
set_location FSM_TEST_inst_slow.bit_sequence_stat[47] 10 15 7 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[47]_LC_213)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[48] 9 15 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[48]_LC_214)
set_location FSM_TEST_inst_slow.bit_sequence_stat[48] 9 15 6 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[48]_LC_214)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[49] 7 15 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[49]_LC_215)
set_location FSM_TEST_inst_slow.bit_sequence_stat[49] 7 15 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[49]_LC_215)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[5] 11 15 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[5]_LC_216)
set_location FSM_TEST_inst_slow.bit_sequence_stat[5] 11 15 3 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[5]_LC_216)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[50] 7 15 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[50]_LC_217)
set_location FSM_TEST_inst_slow.bit_sequence_stat[50] 7 15 2 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[50]_LC_217)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[51] 12 15 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[51]_LC_218)
set_location FSM_TEST_inst_slow.bit_sequence_stat[51] 12 15 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[51]_LC_218)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[52] 12 14 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[52]_LC_219)
set_location FSM_TEST_inst_slow.bit_sequence_stat[52] 12 14 2 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[52]_LC_219)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[53] 12 13 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[53]_LC_220)
set_location FSM_TEST_inst_slow.bit_sequence_stat[53] 12 13 6 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[53]_LC_220)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[54] 12 14 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[54]_LC_221)
set_location FSM_TEST_inst_slow.bit_sequence_stat[54] 12 14 6 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[54]_LC_221)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[55] 12 15 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[55]_LC_222)
set_location FSM_TEST_inst_slow.bit_sequence_stat[55] 12 15 0 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[55]_LC_222)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[56] 12 15 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[56]_LC_223)
set_location FSM_TEST_inst_slow.bit_sequence_stat[56] 12 15 3 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[56]_LC_223)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[57] 12 15 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[57]_LC_224)
set_location FSM_TEST_inst_slow.bit_sequence_stat[57] 12 15 6 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[57]_LC_224)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[58] 13 15 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[58]_LC_225)
set_location FSM_TEST_inst_slow.bit_sequence_stat[58] 13 15 4 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[58]_LC_225)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[59] 13 15 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[59]_LC_226)
set_location FSM_TEST_inst_slow.bit_sequence_stat[59] 13 15 7 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[59]_LC_226)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[6] 12 15 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[6]_LC_227)
set_location FSM_TEST_inst_slow.bit_sequence_stat[6] 12 15 5 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[6]_LC_227)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[60] 13 15 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[60]_LC_228)
set_location FSM_TEST_inst_slow.bit_sequence_stat[60] 13 15 5 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[60]_LC_228)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[61] 13 15 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[61]_LC_229)
set_location FSM_TEST_inst_slow.bit_sequence_stat[61] 13 15 3 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[61]_LC_229)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[62] 13 16 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[62]_LC_230)
set_location FSM_TEST_inst_slow.bit_sequence_stat[62] 13 16 0 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[62]_LC_230)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[63] 13 16 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[63]_LC_231)
set_location FSM_TEST_inst_slow.bit_sequence_stat[63] 13 16 7 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[63]_LC_231)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[64] 13 16 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[64]_LC_232)
set_location FSM_TEST_inst_slow.bit_sequence_stat[64] 13 16 2 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[64]_LC_232)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[65] 13 16 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[65]_LC_233)
set_location FSM_TEST_inst_slow.bit_sequence_stat[65] 13 16 5 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[65]_LC_233)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[66] 13 16 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[66]_LC_234)
set_location FSM_TEST_inst_slow.bit_sequence_stat[66] 13 16 1 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[66]_LC_234)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[67] 12 16 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[67]_LC_235)
set_location FSM_TEST_inst_slow.bit_sequence_stat[67] 12 16 6 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[67]_LC_235)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[68] 12 16 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[68]_LC_236)
set_location FSM_TEST_inst_slow.bit_sequence_stat[68] 12 16 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[68]_LC_236)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[69] 12 16 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[69]_LC_237)
set_location FSM_TEST_inst_slow.bit_sequence_stat[69] 12 16 2 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[69]_LC_237)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[7] 12 14 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[7]_LC_238)
set_location FSM_TEST_inst_slow.bit_sequence_stat[7] 12 14 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[7]_LC_238)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[70] 11 16 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[70]_LC_239)
set_location FSM_TEST_inst_slow.bit_sequence_stat[70] 11 16 2 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[70]_LC_239)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[71] 7 16 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[71]_LC_240)
set_location FSM_TEST_inst_slow.bit_sequence_stat[71] 7 16 5 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[71]_LC_240)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[72] 9 16 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[72]_LC_241)
set_location FSM_TEST_inst_slow.bit_sequence_stat[72] 9 16 0 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[72]_LC_241)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[73] 9 16 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[73]_LC_242)
set_location FSM_TEST_inst_slow.bit_sequence_stat[73] 9 16 2 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[73]_LC_242)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[74] 10 16 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[74]_LC_243)
set_location FSM_TEST_inst_slow.bit_sequence_stat[74] 10 16 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[74]_LC_243)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[75] 10 16 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[75]_LC_244)
set_location FSM_TEST_inst_slow.bit_sequence_stat[75] 10 16 5 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[75]_LC_244)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[76] 10 16 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[76]_LC_245)
set_location FSM_TEST_inst_slow.bit_sequence_stat[76] 10 16 0 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[76]_LC_245)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[77] 11 16 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[77]_LC_246)
set_location FSM_TEST_inst_slow.bit_sequence_stat[77] 11 16 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[77]_LC_246)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[78] 11 16 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[78]_LC_247)
set_location FSM_TEST_inst_slow.bit_sequence_stat[78] 11 16 5 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[78]_LC_247)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[79] 11 16 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[79]_LC_248)
set_location FSM_TEST_inst_slow.bit_sequence_stat[79] 11 16 7 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[79]_LC_248)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[8] 12 14 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[8]_LC_249)
set_location FSM_TEST_inst_slow.bit_sequence_stat[8] 12 14 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[8]_LC_249)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[80] 11 15 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[80]_LC_250)
set_location FSM_TEST_inst_slow.bit_sequence_stat[80] 11 15 7 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[80]_LC_250)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[81] 11 14 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[81]_LC_251)
set_location FSM_TEST_inst_slow.bit_sequence_stat[81] 11 14 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[81]_LC_251)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[82] 11 14 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[82]_LC_252)
set_location FSM_TEST_inst_slow.bit_sequence_stat[82] 11 14 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[82]_LC_252)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[83] 12 13 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[83]_LC_253)
set_location FSM_TEST_inst_slow.bit_sequence_stat[83] 12 13 0 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[83]_LC_253)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[84] 12 12 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[84]_LC_254)
set_location FSM_TEST_inst_slow.bit_sequence_stat[84] 12 12 4 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[84]_LC_254)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[85] 12 12 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[85]_LC_255)
set_location FSM_TEST_inst_slow.bit_sequence_stat[85] 12 12 5 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[85]_LC_255)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[86] 12 11 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[86]_LC_256)
set_location FSM_TEST_inst_slow.bit_sequence_stat[86] 12 11 6 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[86]_LC_256)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[87] 10 11 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[87]_LC_257)
set_location FSM_TEST_inst_slow.bit_sequence_stat[87] 10 11 4 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[87]_LC_257)
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[9] 12 14 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[9]_LC_258)
set_location FSM_TEST_inst_slow.bit_sequence_stat[9] 12 14 5 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[9]_LC_258)
set_location FSM_TEST_inst_slow.counter_din_RNID6M9[1] 10 19 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_din_RNID6M9[1]_LC_259)
set_location FSM_TEST_inst_slow.counter_din_RNO[0] 9 19 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_din[0]_LC_260)
set_location FSM_TEST_inst_slow.counter_din[0] 9 19 1 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_din[0]_LC_260)
set_location FSM_TEST_inst_slow.counter_din_RNO_0[3] 10 19 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_din_RNO_0[3]_LC_261)
set_location FSM_TEST_inst_slow.counter_din_RNO[1] 9 19 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_din[1]_LC_262)
set_location FSM_TEST_inst_slow.counter_din[1] 9 19 0 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_din[1]_LC_262)
set_location FSM_TEST_inst_slow.counter_din_RNO[2] 12 17 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_din[2]_LC_263)
set_location FSM_TEST_inst_slow.counter_din[2] 12 17 4 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_din[2]_LC_263)
set_location FSM_TEST_inst_slow.counter_din_RNO[3] 9 19 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_din[3]_LC_264)
set_location FSM_TEST_inst_slow.counter_din[3] 9 19 2 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_din[3]_LC_264)
set_location FSM_TEST_inst_slow.counter_idle_RNIHR3A2[7] 10 17 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_idle_RNIHR3A2[7]_LC_265)
set_location FSM_TEST_inst_slow.counter_idle_RNIMHOQ[3] 10 17 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_idle_RNIMHOQ[3]_LC_266)
set_location FSM_TEST_inst_slow.counter_idle_RNO[0] 10 18 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_idle[0]_LC_267)
set_location FSM_TEST_inst_slow.counter_idle[0] 10 18 0 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.counter_idle[0]_LC_267)
set_location FSM_TEST_inst_slow.counter_idle_cry_c[0] 10 18 0 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_idle[0]_LC_267)
set_location FSM_TEST_inst_slow.counter_idle_RNO[1] 10 18 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_idle[1]_LC_268)
set_location FSM_TEST_inst_slow.counter_idle[1] 10 18 1 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.counter_idle[1]_LC_268)
set_location FSM_TEST_inst_slow.counter_idle_cry_c[1] 10 18 1 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_idle[1]_LC_268)
set_location FSM_TEST_inst_slow.counter_idle_RNO[2] 10 18 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_idle[2]_LC_269)
set_location FSM_TEST_inst_slow.counter_idle[2] 10 18 2 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.counter_idle[2]_LC_269)
set_location FSM_TEST_inst_slow.counter_idle_cry_c[2] 10 18 2 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_idle[2]_LC_269)
set_location FSM_TEST_inst_slow.counter_idle_RNO[3] 10 18 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_idle[3]_LC_270)
set_location FSM_TEST_inst_slow.counter_idle[3] 10 18 3 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.counter_idle[3]_LC_270)
set_location FSM_TEST_inst_slow.counter_idle_cry_c[3] 10 18 3 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_idle[3]_LC_270)
set_location FSM_TEST_inst_slow.counter_idle_RNO[4] 10 18 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_idle[4]_LC_271)
set_location FSM_TEST_inst_slow.counter_idle[4] 10 18 4 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.counter_idle[4]_LC_271)
set_location FSM_TEST_inst_slow.counter_idle_cry_c[4] 10 18 4 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_idle[4]_LC_271)
set_location FSM_TEST_inst_slow.counter_idle_RNO[5] 10 18 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_idle[5]_LC_272)
set_location FSM_TEST_inst_slow.counter_idle[5] 10 18 5 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.counter_idle[5]_LC_272)
set_location FSM_TEST_inst_slow.counter_idle_cry_c[5] 10 18 5 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_idle[5]_LC_272)
set_location FSM_TEST_inst_slow.counter_idle_RNO[6] 10 18 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_idle[6]_LC_273)
set_location FSM_TEST_inst_slow.counter_idle[6] 10 18 6 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.counter_idle[6]_LC_273)
set_location FSM_TEST_inst_slow.counter_idle_cry_c[6] 10 18 6 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_idle[6]_LC_273)
set_location FSM_TEST_inst_slow.counter_idle_RNO[7] 10 18 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_idle[7]_LC_274)
set_location FSM_TEST_inst_slow.counter_idle[7] 10 18 7 # SB_DFFER (LogicCell: FSM_TEST_inst_slow.counter_idle[7]_LC_274)
set_location FSM_TEST_inst_slow.counter_stat_RNIE9EB1[6] 10 17 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat_RNIE9EB1[6]_LC_275)
set_location FSM_TEST_inst_slow.counter_stat_RNO[0] 11 18 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat[0]_LC_276)
set_location FSM_TEST_inst_slow.counter_stat[0] 11 18 3 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_stat[0]_LC_276)
set_location FSM_TEST_inst_slow.counter_stat_RNO[1] 11 18 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat[1]_LC_277)
set_location FSM_TEST_inst_slow.counter_stat[1] 11 18 6 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_stat[1]_LC_277)
set_location FSM_TEST_inst_slow.counter_stat_RNO[2] 11 18 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat[2]_LC_278)
set_location FSM_TEST_inst_slow.counter_stat[2] 11 18 4 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_stat[2]_LC_278)
set_location FSM_TEST_inst_slow.counter_stat_RNO[3] 11 18 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat[3]_LC_279)
set_location FSM_TEST_inst_slow.counter_stat[3] 11 18 5 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_stat[3]_LC_279)
set_location FSM_TEST_inst_slow.counter_stat_RNO[4] 11 18 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat[4]_LC_280)
set_location FSM_TEST_inst_slow.counter_stat[4] 11 18 7 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_stat[4]_LC_280)
set_location FSM_TEST_inst_slow.counter_stat_RNO[5] 14 17 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat[5]_LC_281)
set_location FSM_TEST_inst_slow.counter_stat[5] 14 17 5 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_stat[5]_LC_281)
set_location FSM_TEST_inst_slow.counter_stat_RNO[6] 11 17 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat[6]_LC_282)
set_location FSM_TEST_inst_slow.counter_stat[6] 11 17 6 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.counter_stat[6]_LC_282)
set_location FSM_TEST_inst_slow.current_state_RNI9C3K2[1] 10 17 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNI9C3K2[1]_LC_283)
set_location FSM_TEST_inst_slow.current_state_RNIR2L81_0[1] 12 17 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNIR2L81_0[1]_LC_284)
set_location FSM_TEST_inst_slow.current_state_RNIR2L81[1] 10 17 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNIR2L81[1]_LC_285)
set_location FSM_TEST_inst_slow.current_state_RNIV6JP_0[1] 10 19 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNIV6JP_0[1]_LC_286)
set_location FSM_TEST_inst_slow.current_state_RNIV6JP[1] 10 19 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNIV6JP[1]_LC_287)
set_location FSM_TEST_inst_slow.current_state_RNIV6JP_1[1] 12 17 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNIV6JP_1[1]_LC_288)
set_location FSM_TEST_inst_slow.current_state_RNIV6JP_2[1] 10 17 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNIV6JP_2[1]_LC_289)
set_location FSM_TEST_inst_slow.current_state_RNO[0] 12 17 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state[0]_LC_290)
set_location FSM_TEST_inst_slow.current_state[0] 12 17 7 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.current_state[0]_LC_290)
set_location FSM_TEST_inst_slow.current_state_RNO_0[0] 11 19 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNO_0[0]_LC_291)
set_location FSM_TEST_inst_slow.current_state_RNO_0[1] 12 17 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNO_0[1]_LC_292)
set_location FSM_TEST_inst_slow.current_state_RNO[1] 12 17 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state[1]_LC_293)
set_location FSM_TEST_inst_slow.current_state[1] 12 17 3 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.current_state[1]_LC_293)
set_location FSM_TEST_inst_slow.current_state_RNO_1[0] 11 18 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNO_1[0]_LC_294)
set_location FSM_TEST_inst_slow.current_state_RNO_2[0] 12 17 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNO_2[0]_LC_295)
set_location FSM_TEST_inst_slow.current_state_RNO_3[0] 10 19 0 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNO_3[0]_LC_296)
set_location FSM_TEST_inst_slow.current_state_RNO_4[0] 11 19 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNO_4[0]_LC_297)
set_location FSM_TEST_inst_slow.current_state_RNO_5[0] 10 19 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNO_5[0]_LC_298)
set_location FSM_TEST_inst_slow.current_state_RNO_6[0] 11 18 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNO_6[0]_LC_299)
set_location FSM_TEST_inst_slow.current_state_RNO_7[0] 10 17 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNO_7[0]_LC_300)
set_location FSM_TEST_inst_slow.current_state_RNO_8[0] 12 17 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.current_state_RNO_8[0]_LC_301)
set_location RST_N_ibuf_RNIBJGC 16 30 0 # SB_LUT4 (LogicCell: RST_N_ibuf_RNIBJGC_LC_302)
set_location config_register_latched_dec_inst.DYNCNF_1_RNI9I121[8] 12 18 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNCNF_1_RNI9I121[8]_LC_303)
set_location config_register_latched_dec_inst.DYNCNF_1_RNIBK121[9] 12 18 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNCNF_1_RNIBK121[9]_LC_304)
set_location config_register_latched_dec_inst.DYNCNF_1_RNIP1121[0] 12 18 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNCNF_1_RNIP1121[0]_LC_305)
set_location config_register_latched_dec_inst.DYNCNF_1_RNIP1121_0[0] 7 1 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNCNF_1_RNIP1121_0[0]_LC_306)
set_location config_register_latched_dec_inst.DYNCNF_1_RNIR83V[10] 13 19 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNCNF_1_RNIR83V[10]_LC_307)
set_location config_register_latched_dec_inst.DYNSR_RNO[0] 13 20 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[0]_LC_308)
set_location config_register_latched_dec_inst.DYNSR[0] 13 20 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[0]_LC_308)
set_location config_register_latched_dec_inst.DYNSR_RNO[1] 13 20 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[1]_LC_309)
set_location config_register_latched_dec_inst.DYNSR[1] 13 20 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[1]_LC_309)
set_location config_register_latched_dec_inst.DYNSR_RNO[10] 13 20 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[10]_LC_310)
set_location config_register_latched_dec_inst.DYNSR[10] 13 20 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[10]_LC_310)
set_location config_register_latched_dec_inst.DYNSR_RNO[2] 14 20 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[2]_LC_311)
set_location config_register_latched_dec_inst.DYNSR[2] 14 20 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[2]_LC_311)
set_location config_register_latched_dec_inst.DYNSR_RNO[3] 14 20 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[3]_LC_312)
set_location config_register_latched_dec_inst.DYNSR[3] 14 20 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[3]_LC_312)
set_location config_register_latched_dec_inst.DYNSR_RNO[4] 14 20 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[4]_LC_313)
set_location config_register_latched_dec_inst.DYNSR[4] 14 20 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[4]_LC_313)
set_location config_register_latched_dec_inst.DYNSR_RNO[5] 14 20 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[5]_LC_314)
set_location config_register_latched_dec_inst.DYNSR[5] 14 20 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[5]_LC_314)
set_location config_register_latched_dec_inst.DYNSR_RNO[6] 14 20 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[6]_LC_315)
set_location config_register_latched_dec_inst.DYNSR[6] 14 20 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[6]_LC_315)
set_location config_register_latched_dec_inst.DYNSR_RNO[7] 14 20 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[7]_LC_316)
set_location config_register_latched_dec_inst.DYNSR[7] 14 20 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[7]_LC_316)
set_location config_register_latched_dec_inst.DYNSR_RNO[8] 14 20 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[8]_LC_317)
set_location config_register_latched_dec_inst.DYNSR[8] 14 20 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[8]_LC_317)
set_location config_register_latched_dec_inst.DYNSR_RNO[9] 14 20 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNSR[9]_LC_318)
set_location config_register_latched_dec_inst.DYNSR[9] 14 20 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNSR[9]_LC_318)
set_location config_register_latched_dec_inst.STATCNF_1_RNIRDN51[0] 16 19 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.STATCNF_1_RNIRDN51[0]_LC_319)
set_location config_register_latched_dec_inst.STATCNF_1_RNIRDN51_0[0] 20 19 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.STATCNF_1_RNIRDN51_0[0]_LC_320)
set_location config_register_latched_dec_inst.STATCNF_1_RNO[0] 13 17 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.STATCNF_1_RNO[0]_LC_321)
set_location config_register_latched_dec_inst.STATSR_RNO[0] 13 20 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.STATSR[0]_LC_322)
set_location config_register_latched_dec_inst.STATSR[0] 13 20 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst.STATSR[0]_LC_322)
set_location divisor_inst.clk_out_RNI3LEM 13 18 1 # SB_LUT4 (LogicCell: divisor_inst.clk_out_RNI3LEM_LC_323)
set_location divisor_inst.clk_out_RNO 14 18 3 # SB_LUT4 (LogicCell: divisor_inst.clk_out_LC_324)
set_location divisor_inst.clk_out 14 18 3 # SB_DFFR (LogicCell: divisor_inst.clk_out_LC_324)
set_location divisor_inst.counter_RNO[0] 14 18 5 # SB_LUT4 (LogicCell: divisor_inst.counter[0]_LC_325)
set_location divisor_inst.counter[0] 14 18 5 # SB_DFFR (LogicCell: divisor_inst.counter[0]_LC_325)
set_location divisor_inst.counter_RNO[1] 14 18 4 # SB_LUT4 (LogicCell: divisor_inst.counter[1]_LC_326)
set_location divisor_inst.counter[1] 14 18 4 # SB_DFFR (LogicCell: divisor_inst.counter[1]_LC_326)
set_location divisor_inst_2.clk_out_RNO 13 17 6 # SB_LUT4 (LogicCell: divisor_inst_2.clk_out_LC_327)
set_location divisor_inst_2.clk_out 13 17 6 # SB_DFFR (LogicCell: divisor_inst_2.clk_out_LC_327)
set_location divisor_inst_2.counter_RNIFD27[2] 13 17 1 # SB_LUT4 (LogicCell: divisor_inst_2.counter_RNIFD27[2]_LC_328)
set_location divisor_inst_2.counter_RNISR1F[2] 13 17 5 # SB_LUT4 (LogicCell: divisor_inst_2.counter_RNISR1F[2]_LC_329)
set_location divisor_inst_2.counter_RNO[0] 14 17 4 # SB_LUT4 (LogicCell: divisor_inst_2.counter[0]_LC_330)
set_location divisor_inst_2.counter[0] 14 17 4 # SB_DFFR (LogicCell: divisor_inst_2.counter[0]_LC_330)
set_location divisor_inst_2.counter_RNO[1] 14 17 3 # SB_LUT4 (LogicCell: divisor_inst_2.counter[1]_LC_331)
set_location divisor_inst_2.counter[1] 14 17 3 # SB_DFFR (LogicCell: divisor_inst_2.counter[1]_LC_331)
set_location divisor_inst_2.counter_RNO[2] 14 17 6 # SB_LUT4 (LogicCell: divisor_inst_2.counter[2]_LC_332)
set_location divisor_inst_2.counter[2] 14 17 6 # SB_DFFR (LogicCell: divisor_inst_2.counter[2]_LC_332)
set_location flag_output_0_ret_RNI1E8N2 13 19 5 # SB_LUT4 (LogicCell: flag_output_0_ret_RNI1E8N2_LC_333)
set_location flag_output_0_ret_RNO 14 17 2 # SB_LUT4 (LogicCell: flag_output_0_ret_LC_334)
set_location flag_output_0_ret 14 17 2 # SB_DFFR (LogicCell: flag_output_0_ret_LC_334)
set_location mosi_output_obuf_RNO 13 18 7 # SB_LUT4 (LogicCell: mosi_output_obuf_RNO_LC_335)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_2_0_THRU_LUT4_0 13 23 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_2[0]_LC_336)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_2[0] 13 23 2 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_2[0]_LC_336)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_3_0_THRU_LUT4_0 12 23 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_3[0]_LC_337)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_3[0] 12 23 5 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_3[0]_LC_337)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_4_0_THRU_LUT4_0 12 23 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_4[0]_LC_338)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_4[0] 12 23 1 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_4[0]_LC_338)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_5_0_THRU_LUT4_0 12 23 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_5[0]_LC_339)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_5[0] 12 23 6 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_5[0]_LC_339)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6_0_THRU_LUT4_0 12 23 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_6[0]_LC_340)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6[0] 12 23 4 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_6[0]_LC_340)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6b_0_THRU_LUT4_0 12 23 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_6b[0]_LC_341)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6b[0] 12 23 7 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_6b[0]_LC_341)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6c_0_THRU_LUT4_0 13 23 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_6c[0]_LC_342)
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6c[0] 13 23 5 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.CLK_uC_6c[0]_LC_342)
set_location FSM_TEST_inst_RAPIDA.SEL_0_RNI7M5D1_0_FSM_TEST_inst_RAPIDA.SEL_0_REP_LUT4_0 14 17 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.SEL_0_LC_343)
set_location FSM_TEST_inst_RAPIDA.SEL_0 14 17 7 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.SEL_0_LC_343)
set_location FSM_TEST_inst_RAPIDA.SEL_0_RNI8H3V3_flag_output_ret_REP_LUT4_0 14 17 1 # SB_LUT4 (LogicCell: flag_output_ret_LC_344)
set_location flag_output_ret 14 17 1 # SB_DFFR (LogicCell: flag_output_ret_LC_344)
set_location FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_RNI2J9G_0_FSM_TEST_inst_RAPIDA.bit_sequence_stat_0_REP_LUT4_0 11 20 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[0]_LC_345)
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[0] 11 20 1 # SB_DFFES (LogicCell: FSM_TEST_inst_RAPIDA.bit_sequence_stat[0]_LC_345)
set_location FSM_TEST_inst_RAPIDA.flag_input_reg_THRU_LUT4_0 10 22 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.flag_input_reg_LC_346)
set_location FSM_TEST_inst_RAPIDA.flag_input_reg 10 22 5 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.flag_input_reg_LC_346)
set_location FSM_TEST_inst_RAPIDA.flag_output_1_RNIVLAE1_FSM_TEST_inst_RAPIDA.flag_output_1_REP_LUT4_0 11 19 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.flag_output_1_LC_347)
set_location FSM_TEST_inst_RAPIDA.flag_output_1 11 19 4 # SB_DFFR (LogicCell: FSM_TEST_inst_RAPIDA.flag_output_1_LC_347)
set_location FSM_TEST_inst_slow.CLK_uC_2_0_THRU_LUT4_0 7 18 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_2[0]_LC_348)
set_location FSM_TEST_inst_slow.CLK_uC_2[0] 7 18 2 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_2[0]_LC_348)
set_location FSM_TEST_inst_slow.CLK_uC_3_0_THRU_LUT4_0 7 18 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_3[0]_LC_349)
set_location FSM_TEST_inst_slow.CLK_uC_3[0] 7 18 6 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_3[0]_LC_349)
set_location FSM_TEST_inst_slow.CLK_uC_4_0_THRU_LUT4_0 7 19 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_4[0]_LC_350)
set_location FSM_TEST_inst_slow.CLK_uC_4[0] 7 19 6 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_4[0]_LC_350)
set_location FSM_TEST_inst_slow.CLK_uC_5_0_THRU_LUT4_0 7 18 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_5[0]_LC_351)
set_location FSM_TEST_inst_slow.CLK_uC_5[0] 7 18 4 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_5[0]_LC_351)
set_location FSM_TEST_inst_slow.CLK_uC_6_0_THRU_LUT4_0 7 18 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6[0]_LC_352)
set_location FSM_TEST_inst_slow.CLK_uC_6[0] 7 18 7 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6[0]_LC_352)
set_location FSM_TEST_inst_slow.CLK_uC_6b_0_THRU_LUT4_0 7 18 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6b[0]_LC_353)
set_location FSM_TEST_inst_slow.CLK_uC_6b[0] 7 18 5 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6b[0]_LC_353)
set_location FSM_TEST_inst_slow.CLK_uC_6c_0_THRU_LUT4_0 7 18 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6c[0]_LC_354)
set_location FSM_TEST_inst_slow.CLK_uC_6c[0] 7 18 3 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6c[0]_LC_354)
set_location FSM_TEST_inst_slow.CLK_uC_6d_0_THRU_LUT4_0 7 18 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6d[0]_LC_355)
set_location FSM_TEST_inst_slow.CLK_uC_6d[0] 7 18 1 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6d[0]_LC_355)
set_location FSM_TEST_inst_slow.CLK_uC_6e_0_THRU_LUT4_0 7 19 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6e[0]_LC_356)
set_location FSM_TEST_inst_slow.CLK_uC_6e[0] 7 19 1 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6e[0]_LC_356)
set_location FSM_TEST_inst_slow.CLK_uC_6f_0_THRU_LUT4_0 7 19 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6f[0]_LC_357)
set_location FSM_TEST_inst_slow.CLK_uC_6f[0] 7 19 2 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6f[0]_LC_357)
set_location FSM_TEST_inst_slow.CLK_uC_6g_0_THRU_LUT4_0 7 19 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6g[0]_LC_358)
set_location FSM_TEST_inst_slow.CLK_uC_6g[0] 7 19 5 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6g[0]_LC_358)
set_location FSM_TEST_inst_slow.CLK_uC_6h_0_THRU_LUT4_0 9 19 7 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6h[0]_LC_359)
set_location FSM_TEST_inst_slow.CLK_uC_6h[0] 9 19 7 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6h[0]_LC_359)
set_location FSM_TEST_inst_slow.CLK_uC_6i_0_THRU_LUT4_0 9 19 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6i[0]_LC_360)
set_location FSM_TEST_inst_slow.CLK_uC_6i[0] 9 19 3 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6i[0]_LC_360)
set_location FSM_TEST_inst_slow.CLK_uC_6j_0_THRU_LUT4_0 9 19 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6j[0]_LC_361)
set_location FSM_TEST_inst_slow.CLK_uC_6j[0] 9 19 4 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6j[0]_LC_361)
set_location FSM_TEST_inst_slow.CLK_uC_6k_0_THRU_LUT4_0 9 19 6 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6k[0]_LC_362)
set_location FSM_TEST_inst_slow.CLK_uC_6k[0] 9 19 6 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6k[0]_LC_362)
set_location FSM_TEST_inst_slow.CLK_uC_6l_0_THRU_LUT4_0 14 19 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.CLK_uC_6l[0]_LC_363)
set_location FSM_TEST_inst_slow.CLK_uC_6l[0] 14 19 4 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.CLK_uC_6l[0]_LC_363)
set_location FSM_TEST_inst_slow.SEL_0_RNI25J31_FSM_TEST_inst_slow.SEL_0_REP_LUT4_0 14 18 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.SEL_0_LC_364)
set_location FSM_TEST_inst_slow.SEL_0 14 18 2 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.SEL_0_LC_364)
set_location FSM_TEST_inst_slow.current_state_RNIV6JP_0_1_FSM_TEST_inst_slow.bit_sequence_stat_0_REP_LUT4_0 11 14 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[0]_LC_365)
set_location FSM_TEST_inst_slow.bit_sequence_stat[0] 11 14 3 # SB_DFFES (LogicCell: FSM_TEST_inst_slow.bit_sequence_stat[0]_LC_365)
set_location FSM_TEST_inst_slow.flag_input_reg_THRU_LUT4_0 11 19 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.flag_input_reg_LC_366)
set_location FSM_TEST_inst_slow.flag_input_reg 11 19 5 # SB_DFFR (LogicCell: FSM_TEST_inst_slow.flag_input_reg_LC_366)
set_location config_register_latched_dec_inst.DYNCNF_1_RNI9I121_8_config_register_latched_dec_inst.DYNCNF_1_8_REP_LUT4_0 12 18 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNCNF_1[8]_LC_367)
set_location config_register_latched_dec_inst.DYNCNF_1[8] 12 18 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNCNF_1[8]_LC_367)
set_location config_register_latched_dec_inst.DYNCNF_1_RNIBK121_9_config_register_latched_dec_inst.DYNCNF_1_9_REP_LUT4_0 12 18 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNCNF_1[9]_LC_368)
set_location config_register_latched_dec_inst.DYNCNF_1[9] 12 18 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNCNF_1[9]_LC_368)
set_location config_register_latched_dec_inst.DYNCNF_1_RNIP1121_0_config_register_latched_dec_inst.DYNCNF_1_0_REP_LUT4_0 12 18 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNCNF_1[0]_LC_369)
set_location config_register_latched_dec_inst.DYNCNF_1[0] 12 18 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNCNF_1[0]_LC_369)
set_location config_register_latched_dec_inst.DYNCNF_1_RNIR83V_10_config_register_latched_dec_inst.DYNCNF_1_10_REP_LUT4_0 12 18 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.DYNCNF_1[10]_LC_370)
set_location config_register_latched_dec_inst.DYNCNF_1[10] 12 18 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst.DYNCNF_1[10]_LC_370)
set_location config_register_latched_dec_inst.STATCNF_1_RNIRDN51_0_config_register_latched_dec_inst.STATCNF_1_0_REP_LUT4_0 13 19 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst.STATCNF_1[0]_LC_371)
set_location config_register_latched_dec_inst.STATCNF_1[0] 13 19 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst.STATCNF_1[0]_LC_371)
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_0_THRU_LUT4_0 10 21 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle_cry_0_THRU_LUT4_0_LC_372)
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_c[1] 10 21 1 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle_cry_0_THRU_LUT4_0_LC_372)
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_1_THRU_LUT4_0 10 21 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle_cry_1_THRU_LUT4_0_LC_373)
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_c[2] 10 21 2 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle_cry_1_THRU_LUT4_0_LC_373)
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_2_THRU_LUT4_0 10 21 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle_cry_2_THRU_LUT4_0_LC_374)
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_c[3] 10 21 3 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle_cry_2_THRU_LUT4_0_LC_374)
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_3_THRU_LUT4_0 10 21 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle_cry_3_THRU_LUT4_0_LC_375)
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_c[4] 10 21 4 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle_cry_3_THRU_LUT4_0_LC_375)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_0_THRU_LUT4_0 9 20 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_0_THRU_LUT4_0_LC_376)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[1] 9 20 1 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_0_THRU_LUT4_0_LC_376)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_1_THRU_LUT4_0 9 20 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_1_THRU_LUT4_0_LC_377)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[2] 9 20 2 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_1_THRU_LUT4_0_LC_377)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_2_THRU_LUT4_0 9 20 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_2_THRU_LUT4_0_LC_378)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[3] 9 20 3 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_2_THRU_LUT4_0_LC_378)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_3_THRU_LUT4_0 9 20 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_3_THRU_LUT4_0_LC_379)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[4] 9 20 4 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_3_THRU_LUT4_0_LC_379)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_4_THRU_LUT4_0 9 20 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_4_THRU_LUT4_0_LC_380)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[5] 9 20 5 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_4_THRU_LUT4_0_LC_380)
set_location FSM_TEST_inst_slow.counter_stat_cry_0_THRU_LUT4_0 11 17 1 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_0_THRU_LUT4_0_LC_381)
set_location FSM_TEST_inst_slow.counter_stat_cry_c[1] 11 17 1 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_0_THRU_LUT4_0_LC_381)
set_location FSM_TEST_inst_slow.counter_stat_cry_1_THRU_LUT4_0 11 17 2 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_1_THRU_LUT4_0_LC_382)
set_location FSM_TEST_inst_slow.counter_stat_cry_c[2] 11 17 2 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_1_THRU_LUT4_0_LC_382)
set_location FSM_TEST_inst_slow.counter_stat_cry_2_THRU_LUT4_0 11 17 3 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_2_THRU_LUT4_0_LC_383)
set_location FSM_TEST_inst_slow.counter_stat_cry_c[3] 11 17 3 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_2_THRU_LUT4_0_LC_383)
set_location FSM_TEST_inst_slow.counter_stat_cry_3_THRU_LUT4_0 11 17 4 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_3_THRU_LUT4_0_LC_384)
set_location FSM_TEST_inst_slow.counter_stat_cry_c[4] 11 17 4 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_3_THRU_LUT4_0_LC_384)
set_location FSM_TEST_inst_slow.counter_stat_cry_4_THRU_LUT4_0 11 17 5 # SB_LUT4 (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_4_THRU_LUT4_0_LC_385)
set_location FSM_TEST_inst_slow.counter_stat_cry_c[5] 11 17 5 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_4_THRU_LUT4_0_LC_385)
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_c[0] 10 21 0 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_idle_cry_c[0]_LC_386)
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[0] 9 20 0 # SB_CARRY (LogicCell: FSM_TEST_inst_RAPIDA.counter_stat_cry_c[0]_LC_387)
set_location FSM_TEST_inst_slow.counter_stat_cry_c[0] 11 17 0 # SB_CARRY (LogicCell: FSM_TEST_inst_slow.counter_stat_cry_c[0]_LC_388)
set_io CLK_ibuf 0 30 0 # ICE_IO
set_io FSM_TEST_inst_RAPIDA.current_state_fast_fast_RNIKIU51_0[1] 17 33 0 # ICE_GB
set_io FSM_TEST_inst_slow.current_state_RNIR2L81_1[1] 0 17 0 # ICE_GB
set_location GND -1 -1 -1 # GND
set_io RST_N_ibuf 0 30 1 # ICE_IO
set_io RST_N_ibuf_RNIBJGC_0 16 33 1 # ICE_GB
set_io clk_output_obuf 23 33 0 # ICE_IO
set_io miso_input_ibuf 28 33 1 # ICE_IO
set_io mosi_output_obuf 33 2 0 # ICE_IO
set_io s12_obuf 3 0 0 # ICE_IO
set_io s13_obuf 0 17 1 # ICE_IO
set_io s14_obuf 0 23 1 # ICE_IO
set_io sel_output_obuf 33 4 1 # ICE_IO
set_location top_pll_inst.top_pll_inst 16 0 1 # SB_PLL40_CORE
set_io xor_out_dyn_obuf 3 0 1 # ICE_IO
set_io xor_out_stat_obuf 33 21 1 # ICE_IO
set_location CONSTANT_ONE_LUT4 11 23 3 # SB_LUT4 (LogicCell: LC_389)
