set_location IN_MUX_bfv_4_20_0_ 4 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_21_0_ 3 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_22_0_ 4 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_23_0_ 4 23 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 7 18 1 #SB_LUT4
set_location switch_clk_2MHz_inst.flag_output_1_RNI12011_switch_clk_2MHz_inst.flag_output_1_REP_LUT4_0 6 23 3 #SB_LUT4
set_location switch_clk_2MHz_inst.flag_input_reg_THRU_LUT4_0 5 18 2 #SB_LUT4
set_location switch_clk_2MHz_inst.delay_inst.delay_reg_6_THRU_LUT4_0 7 21 4 #SB_LUT4
set_location switch_clk_2MHz_inst.delay_inst.delay_reg_5_THRU_LUT4_0 7 21 7 #SB_LUT4
set_location switch_clk_2MHz_inst.delay_inst.delay_reg_4_THRU_LUT4_0 7 21 6 #SB_LUT4
set_location switch_clk_2MHz_inst.delay_inst.delay_reg_3_THRU_LUT4_0 7 21 1 #SB_LUT4
set_location switch_clk_2MHz_inst.delay_inst.delay_reg_2_THRU_LUT4_0 3 20 6 #SB_LUT4
set_location switch_clk_2MHz_inst.delay_inst.delay_reg_1_THRU_LUT4_0 3 20 1 #SB_LUT4
set_location switch_clk_2MHz_inst.delay_inst.delay_reg_0_THRU_LUT4_0 3 20 4 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_fast_1_rep1_RNIEUV6_0_switch_clk_2MHz_inst.bit_sequence_stat_0_REP_LUT4_0 4 19 1 #SB_LUT4
set_location switch_clk_2MHz_inst.SEL_0_RNILHTT1_switch_clk_2MHz_inst.SEL_0_REP_LUT4_0 6 21 1 #SB_LUT4
set_location switch_clk_2MHz_inst.SEL_0_RNI4VEB3_flag_output_ret_REP_LUT4_0 6 23 6 #SB_LUT4
set_location switch_clk_1MHz_inst.flag_input_reg_THRU_LUT4_0 6 24 0 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_9_THRU_LUT4_0 9 20 2 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_8_THRU_LUT4_0 7 20 6 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_7_THRU_LUT4_0 7 20 2 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_6_THRU_LUT4_0 7 19 6 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_5_THRU_LUT4_0 7 20 3 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_4_THRU_LUT4_0 7 20 4 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_3_THRU_LUT4_0 7 21 5 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_2_THRU_LUT4_0 6 23 0 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_15_THRU_LUT4_0 9 21 7 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_14_THRU_LUT4_0 9 21 6 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_13_THRU_LUT4_0 9 20 1 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_12_THRU_LUT4_0 9 20 7 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_11_THRU_LUT4_0 9 20 3 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_10_THRU_LUT4_0 9 20 5 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_1_THRU_LUT4_0 6 24 4 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_0_THRU_LUT4_0 6 24 6 #SB_LUT4
set_location switch_clk_1MHz_inst.current_state_RNI1TCQ_0_1_switch_clk_1MHz_inst.bit_sequence_stat_0_REP_LUT4_0 12 26 0 #SB_LUT4
set_location switch_clk_1MHz_inst.SEL_0_er_THRU_LUT4_0 5 22 2 #SB_LUT4
set_location config_register_latched_dec_inst.STATCNF_1_RNIRDN51_0_config_register_latched_dec_inst.STATCNF_1_0_REP_LUT4_0 7 22 0 #SB_LUT4
set_location config_register_latched_dec_inst.DYNCNF_1_RNIP1121_0_config_register_latched_dec_inst.DYNCNF_1_0_REP_LUT4_0 5 23 1 #SB_LUT4
set_location switch_clk_2MHz_inst.flag_input_reg 5 18 2 #SB_DFFR
set_location switch_clk_2MHz_inst.current_state_fast_1_rep1_RNIEUV6 4 21 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[17] 2 19 6 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[4] 7 20 4 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat[61] 5 26 5 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[69] 9 26 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[70] 9 27 0 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[57] 5 25 4 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[15] 3 22 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[76] 1 19 1 #SB_DFFES
set_location divisor_inst.counter[0] 7 20 1 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat[54] 1 19 6 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[12] 7 24 0 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_stat[1] 4 20 1 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[8] 3 18 2 #SB_DFFES
set_location switch_clk_1MHz_inst.current_state[0] 4 24 6 #SB_DFFR
set_location switch_clk_1MHz_inst.counter_stat_RNO[3] 4 22 3 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_din_RNO[0] 5 24 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[63] 4 17 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[15] 7 24 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din[10] 3 22 0 #SB_DFFER
set_location switch_clk_2MHz_inst.delay_inst.delay_reg[1] 3 20 1 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[50] 3 18 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[2] 12 24 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[26] 5 25 7 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[72] 4 17 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[32] 3 19 4 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[19] 3 19 2 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_stat[3] 4 22 3 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[26] 2 18 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[28] 2 18 2 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[50] 9 23 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[39] 12 24 1 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[14] 1 17 4 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[9] 9 20 2 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat[62] 5 26 7 #SB_DFFES
set_location switch_clk_2MHz_inst.counter_stat_RNO[4] 4 20 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[15] 2 21 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[12] 3 22 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[73] 2 17 7 #SB_DFFER
set_location divisor_inst_2.counter_RNO[0] 6 23 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[51] 3 19 7 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[85] 10 23 0 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_stat[2] 4 20 2 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_stat_RNO[6] 4 22 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[66] 3 18 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[49] 4 18 3 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[18] 11 24 1 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_stat_cry_c[1] 4 22 1 #SB_CARRY
set_location switch_clk_1MHz_inst.bit_sequence_stat[23] 5 25 5 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[37] 1 19 5 #SB_DFFES
set_location divisor_inst_2.counter[1] 6 23 4 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[3] 4 18 7 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_RNO_4[0] 5 20 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[25] 4 18 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_din[3] 2 20 6 #SB_DFFER
set_location switch_clk_2MHz_inst.SEL_0_RNILHTT1 6 21 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[34] 9 24 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[8] 10 24 3 #SB_DFFES
set_location switch_clk_1MHz_inst.SEL_0_er 5 22 2 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[19] 3 19 2 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_din_RNIFO9H[1] 4 25 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[67] 9 24 7 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_stat_RNO[1] 4 20 1 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[10] 2 21 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[70] 4 17 2 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[52] 2 19 4 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[82] 9 23 2 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[18] 11 24 1 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_stat_RNO[5] 4 22 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[70] 9 27 0 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle[0] 3 21 0 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[65] 3 17 6 #SB_LUT4
set_location config_register_latched_dec_inst.STATCNF_1_RNO[0] 6 22 7 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_din_RNO_0[2] 6 20 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[78] 1 18 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[34] 2 19 1 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_idle_RNO[4] 4 23 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[6] 4 19 7 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_idle_cry_c[5] 4 23 5 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[49] 4 18 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[20] 3 19 1 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_fast_1_rep1_RNO 5 18 3 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_din[2] 6 20 1 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_din[0] 2 20 3 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[85] 10 23 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[37] 13 24 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[5] 11 24 6 #SB_DFFES
set_location switch_clk_1MHz_inst.current_state_RNO_3[0] 5 21 0 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_idle[0] 4 23 0 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[68] 9 25 7 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[13] 2 21 0 #SB_LUT4
set_location switch_clk_1MHz_inst.current_state_RNO_4[0] 4 24 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[59] 4 26 3 #SB_DFFES
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[12] 9 20 7 #SB_DFFR
set_location flag_output_ret 6 23 6 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[73] 10 26 7 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle_RNO[1] 3 21 1 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle[5] 3 21 5 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[81] 3 17 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[68] 3 17 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[7] 1 20 2 #SB_LUT4
set_location switch_clk_1MHz_inst.current_state_RNITOE91_0[1] 5 23 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[9] 7 24 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[39] 3 19 0 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[10] 1 18 6 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_idle_RNO[3] 4 23 3 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_din[3] 6 24 5 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[41] 10 24 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[28] 5 25 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[73] 10 26 7 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[56] 6 25 5 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_stat_cry_c[4] 4 20 4 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[9] 2 18 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[77] 1 19 4 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_idle_cry_c[2] 4 23 2 #SB_CARRY
set_location divisor_inst.counter[1] 7 20 0 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[44] 2 18 1 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[55] 1 18 0 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[59] 4 26 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[11] 7 25 2 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_stat[6] 4 20 6 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_din[1] 6 20 4 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat[63] 4 17 6 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_din[5] 1 20 0 #SB_DFFES
set_location switch_clk_1MHz_inst.counter_stat_RNO[2] 4 22 2 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_din_RNO[1] 5 24 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[86] 9 23 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[32] 6 27 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[6] 10 24 5 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_din[9] 3 22 1 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[62] 4 17 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[45] 2 18 6 #SB_DFFER
set_location switch_clk_1MHz_inst.current_state_RNO[1] 5 24 1 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_idle[3] 4 23 3 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[14] 7 24 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[3] 2 22 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din[11] 3 22 4 #SB_DFFES
set_location switch_clk_2MHz_inst.delay_inst.delay_reg[0] 3 20 4 #SB_DFFR
set_location switch_clk_2MHz_inst.counter_idle_cry_c[2] 3 21 2 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[51] 3 19 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[36] 1 19 0 #SB_LUT4
set_location switch_clk_1MHz_inst.flag_input_reg 6 24 0 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[3] 12 24 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[27] 5 25 6 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[73] 2 17 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[33] 3 19 3 #SB_DFFES
set_location divisor_inst.clk_out 6 21 4 #SB_DFFR
set_location config_register_latched_dec_inst.STATCNF_1_RNIRDN51[0] 9 22 7 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_fast_RNI9DAU1[1] 5 20 1 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_RNO_6[0] 4 21 0 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state[0] 5 20 4 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat[58] 2 17 0 #SB_DFFER
set_location switch_clk_2MHz_inst.MOSI_er 5 21 4 #SB_DFFER
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[15] 9 21 7 #SB_DFFR
set_location switch_clk_1MHz_inst.counter_stat[2] 4 22 2 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[27] 2 18 5 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[76] 9 25 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[53] 7 25 1 #SB_LUT4
set_location config_register_latched_dec_inst.DYNCNF_1[0] 5 23 1 #SB_DFFER
set_location switch_clk_2MHz_inst.current_state_fast_fast_RNO[1] 6 21 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[84] 6 18 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[69] 2 17 6 #SB_DFFES
set_location switch_clk_1MHz_inst.current_state_RNIFA8B2[1] 3 23 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[38] 12 24 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[41] 10 24 7 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[15] 2 17 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[0] 2 20 3 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[6] 7 19 6 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat[63] 6 26 6 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_stat_RNO[5] 4 20 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[15] 2 17 4 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[14] 2 21 1 #SB_LUT4
set_location switch_clk_2MHz_inst.SEL_0_RNI4VEB3 6 22 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[42] 9 25 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[25] 5 25 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[13] 3 22 6 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_stat_cry_c[3] 4 20 3 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat[74] 2 17 3 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[47] 5 17 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[56] 1 18 7 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[86] 9 23 4 #SB_DFFER
set_location switch_clk_2MHz_inst.current_state_RNO_5[0] 6 20 5 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_stat[3] 4 20 3 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_stat_RNO[1] 4 22 1 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_stat_RNIIHP11[6] 3 23 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[83] 10 23 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[3] 12 24 4 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_din[4] 2 23 3 #SB_DFFER
set_location config_register_latched_dec_inst.DYNSR[0] 7 23 0 #SB_DFFER
set_location config_register_latched_dec_inst.DYNCNF_1_RNIP1121[0] 5 23 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[61] 5 17 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[48] 5 17 7 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_idle[6] 4 23 6 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_din[12] 3 22 2 #SB_DFFER
set_location switch_clk_2MHz_inst.delay_inst.delay_reg[3] 7 21 1 #SB_DFFR
set_location switch_clk_2MHz_inst.counter_idle_cry_c[1] 3 21 1 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat[86] 6 19 7 #SB_DFFES
set_location switch_clk_1MHz_inst.counter_stat_cry_c[2] 4 22 2 #SB_CARRY
set_location switch_clk_1MHz_inst.bit_sequence_stat[20] 11 24 0 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[30] 3 18 5 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_din[12] 2 21 3 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[61] 5 26 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[48] 9 23 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[78] 11 24 3 #SB_DFFER
set_location divisor_inst_2.counter[0] 6 23 2 #SB_DFFR
set_location config_register_latched_dec_inst.STATSR[0] 7 23 1 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[2] 4 19 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[24] 4 18 0 #SB_LUT4
set_location switch_clk_2MHz_inst.aux_CLK 3 20 2 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[79] 11 24 4 #SB_LUT4
set_location config_register_latched_dec_inst.STATCNF_1[0] 7 22 0 #SB_DFFER
set_location switch_clk_2MHz_inst.flag_output_1_RNI12011 6 22 5 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_fast_RNIJRTP[1] 2 20 2 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_RNO_3[0] 4 21 3 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_stat_RNIMHC41[6] 5 20 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[87] 6 19 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[64] 3 17 0 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[0] 4 19 1 #SB_DFFES
set_location switch_clk_2MHz_inst.SEL_0 6 21 1 #SB_DFFR
set_location switch_clk_1MHz_inst.current_state_RNO_1[0] 4 21 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[9] 7 24 6 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[46] 9 26 0 #SB_DFFER
set_location flag_output_0_ret_RNO 7 21 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[42] 3 19 5 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[64] 6 25 0 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[4] 2 23 3 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_stat_RNO[2] 4 20 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[58] 2 17 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[31] 3 18 1 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[16] 2 17 5 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[47] 9 26 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[22] 10 25 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[10] 3 22 0 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR_RNO[0] 7 23 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[71] 4 17 3 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[42] 3 19 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[29] 3 18 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[53] 1 19 2 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[83] 10 23 1 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[30] 5 27 2 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat[20] 3 19 1 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_stat_RNO[4] 4 22 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din[3] 2 22 0 #SB_DFFES
set_location switch_clk_2MHz_inst.counter_idle[1] 3 21 1 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[64] 3 17 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[48] 9 23 6 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[9] 3 22 1 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle_cry_c[4] 3 21 4 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat[85] 6 18 4 #SB_DFFES
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[1] 6 24 4 #SB_DFFR
set_location switch_clk_1MHz_inst.current_state_RNO_2[0] 5 24 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[79] 1 18 1 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[35] 2 19 0 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_din[11] 2 21 6 #SB_DFFER
set_location switch_clk_1MHz_inst.current_state_RNO_7[0] 5 21 1 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_idle_RNO[7] 4 23 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[66] 9 24 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[77] 11 26 0 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[52] 7 24 4 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[5] 4 18 1 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_idle_cry_c[6] 4 23 6 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[48] 5 17 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[23] 4 17 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[15] 7 24 2 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[7] 4 18 5 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[67] 3 18 4 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_din[1] 2 20 4 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[36] 13 24 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[41] 6 19 2 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[10] 7 25 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[69] 9 26 6 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[7] 2 22 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din[15] 3 22 3 #SB_DFFES
set_location switch_clk_2MHz_inst.delay_inst.delay_reg[4] 7 21 6 #SB_DFFR
set_location switch_clk_2MHz_inst.current_state_fast_1_rep1_RNIEUV6_0 5 19 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[55] 1 18 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[32] 3 19 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[12] 2 21 3 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_din_RNO_0[3] 5 22 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[7] 10 24 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[77] 1 19 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[58] 4 26 2 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_din_RNO[2] 6 20 1 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[11] 9 20 3 #SB_DFFR
set_location switch_clk_1MHz_inst.current_state_RNO_0[0] 4 24 5 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_stat[6] 4 22 6 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[80] 10 24 2 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[37] 13 24 1 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[23] 4 17 4 #SB_DFFER
set_location switch_clk_2MHz_inst.aux_CLK_RNO 3 20 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[72] 10 27 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[57] 5 25 4 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle_RNO[2] 3 21 2 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle[2] 3 21 2 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_din_RNIBRN21[1] 6 20 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[80] 1 17 2 #SB_LUT4
set_location divisor_inst.counter_RNO[0] 7 20 1 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_fast[1] 5 19 4 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[11] 1 18 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[80] 1 17 2 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[4] 2 20 7 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[2] 6 23 0 #SB_DFFR
set_location switch_clk_1MHz_inst.counter_stat_cry_c[4] 4 22 4 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[38] 2 19 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[11] 1 18 2 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_idle_RNO[2] 4 23 2 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_din[0] 5 24 3 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[29] 5 25 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[72] 10 27 5 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[55] 6 25 4 #SB_DFFES
set_location switch_clk_2MHz_inst.counter_idle_RNIQLMJ[5] 2 20 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[8] 3 18 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[78] 1 18 3 #SB_DFFES
set_location switch_clk_1MHz_inst.counter_idle_cry_c[3] 4 23 3 #SB_CARRY
set_location switch_clk_2MHz_inst.flag_output_1 6 23 3 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[58] 4 26 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[39] 12 24 1 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[10] 7 25 7 #SB_DFFES
set_location switch_clk_2MHz_inst.counter_din[0] 6 20 2 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat[62] 4 17 5 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_din[6] 1 20 1 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_idle_RNIOJRU1[7] 4 24 2 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_din_RNO[2] 5 24 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[87] 9 23 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[31] 5 27 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[7] 10 24 4 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_din[8] 2 22 6 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat[44] 2 18 1 #SB_DFFES
set_location switch_clk_1MHz_inst.current_state_RNO[0] 4 24 6 #SB_LUT4
set_location switch_clk_1MHz_inst.current_state_RNI1TCQ_2[1] 4 24 0 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_idle[2] 4 23 2 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[17] 10 24 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[2] 2 22 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[52] 2 19 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[37] 1 19 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[4] 11 24 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[24] 5 25 2 #SB_DFFES
set_location switch_clk_1MHz_inst.CLK_uC_RNO 6 24 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[70] 4 17 2 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_fast_RNO[1] 5 19 4 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state[1] 5 19 0 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat[59] 4 17 7 #SB_DFFES
set_location switch_clk_2MHz_inst.MOSI_er_RNO 5 21 4 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[14] 9 21 6 #SB_DFFR
set_location switch_clk_1MHz_inst.current_state_RNITOE91[1] 3 23 2 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_stat[1] 4 22 1 #SB_DFFER
set_location divisor_inst_2.clk_out_RNO 6 23 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[26] 2 18 7 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[75] 9 25 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[52] 7 24 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[83] 5 17 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[68] 3 17 4 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[42] 9 25 1 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[16] 2 17 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[1] 2 20 4 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[7] 7 20 2 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat[60] 5 26 2 #SB_DFFES
set_location flag_output_0_ret 7 21 2 #SB_DFFR
set_location switch_clk_2MHz_inst.counter_stat_RNO[6] 4 20 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[12] 1 17 6 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_idle_RNO[1] 4 23 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[68] 9 25 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[43] 9 26 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[26] 5 25 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[71] 9 27 4 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[14] 3 22 5 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_stat_cry_c[2] 4 20 2 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat[75] 2 19 5 #SB_DFFES
set_location switch_clk_1MHz_inst.counter_idle_cry_c[0] 4 23 0 #SB_CARRY
set_location divisor_inst_2.counter_RNO[2] 6 23 1 #SB_LUT4
set_location config_register_latched_dec_inst.STATCNF_1_RNIRDN51_0[0] 32 22 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[46] 4 18 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[57] 2 18 4 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[87] 9 23 3 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[13] 7 24 5 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_stat[0] 4 20 0 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[9] 2 18 3 #SB_DFFES
set_location switch_clk_1MHz_inst.current_state[1] 5 24 1 #SB_DFFR
set_location switch_clk_1MHz_inst.counter_stat_RNO[0] 4 22 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[80] 10 24 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[0] 12 26 0 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_din[7] 2 22 4 #SB_DFFES
set_location switch_clk_2MHz_inst.current_state_RNO_0[0] 4 19 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[60] 5 17 6 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_idle[5] 4 23 5 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_din[13] 3 22 6 #SB_DFFES
set_location switch_clk_2MHz_inst.delay_inst.delay_reg[2] 3 20 6 #SB_DFFR
set_location switch_clk_2MHz_inst.counter_idle_cry_c[0] 3 21 0 #SB_CARRY
set_location switch_clk_1MHz_inst.counter_stat_cry_c[3] 4 22 3 #SB_CARRY
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[1] 12 26 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[21] 10 24 6 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat[31] 3 18 1 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[18] 3 19 6 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_din[15] 2 21 2 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[62] 5 26 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[49] 9 23 5 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_RNO[0] 5 20 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[1] 4 19 2 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_fast_fast_RNI0KTV[1] 6 21 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[27] 2 18 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[29] 3 18 7 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[78] 11 24 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[51] 9 24 2 #SB_LUT4
set_location switch_clk_1MHz_inst.CLK_uC 6 24 3 #SB_DFFR
set_location switch_clk_2MHz_inst.counter_idle_RNO[4] 3 21 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[86] 6 19 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[3] 4 18 7 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[47] 9 26 5 #SB_DFFES
set_location switch_clk_1MHz_inst.MOSI_er 10 22 0 #SB_DFFER
set_location config_register_latched_dec_inst.DYNCNF_1_RNIP1121_0[0] 5 5 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[2] 2 20 5 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[8] 7 20 6 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat[65] 9 25 3 #SB_DFFES
set_location switch_clk_2MHz_inst.current_state_RNO_7[0] 4 21 2 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_1_rep2 5 19 5 #SB_DFFR
set_location switch_clk_2MHz_inst.counter_stat_RNO[3] 4 20 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[59] 4 17 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[17] 2 19 6 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[44] 9 26 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[23] 5 25 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[11] 3 22 4 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_RNO_2[0] 5 21 5 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_stat_cry_c[1] 4 20 1 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat[72] 4 17 0 #SB_DFFER
set_location switch_clk_2MHz_inst.SEL_0_RNIC97Q_0 6 21 2 #SB_LUT4
set_location divisor_inst_2.counter_RNO[1] 6 23 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[41] 6 19 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[28] 2 18 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[50] 3 18 6 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[84] 10 23 6 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[33] 7 24 1 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_din[8] 1 20 7 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_din[2] 2 22 5 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[67] 3 18 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[19] 11 24 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[49] 9 23 5 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[8] 2 22 6 #SB_LUT4
set_location divisor_inst_2.clk_out 6 23 5 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat[84] 6 18 6 #SB_DFFES
set_location switch_clk_1MHz_inst.counter_stat_cry_c[0] 4 22 0 #SB_CARRY
set_location switch_clk_1MHz_inst.bit_sequence_stat[22] 10 25 0 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[36] 1 19 0 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_din[10] 2 21 4 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_idle_RNO[6] 4 23 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[67] 9 24 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[76] 9 25 4 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[51] 9 24 2 #SB_DFFES
set_location divisor_inst_2.counter[2] 6 23 1 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[4] 4 18 2 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_RNO_1[0] 5 20 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[22] 3 17 3 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_idle_RNIQP3H[3] 4 24 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[14] 7 24 7 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat[66] 3 18 0 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[6] 4 19 7 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_din[2] 2 20 5 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[35] 9 24 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[44] 9 26 2 #SB_DFFES
set_location RST_N_ibuf_RNIBJGC 1 21 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[18] 3 19 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[40] 6 19 6 #SB_DFFER
set_location switch_clk_1MHz_inst.current_state_RNI1TCQ_0[1] 5 22 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[13] 7 24 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[66] 9 24 6 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[6] 2 22 2 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_1_rep1 5 19 3 #SB_DFFR
set_location switch_clk_2MHz_inst.counter_stat_RNO[0] 4 20 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[56] 1 18 7 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[33] 3 19 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[11] 2 21 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[20] 11 24 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[28] 5 25 1 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[74] 2 17 3 #SB_LUT4
set_location switch_clk_2MHz_inst.SEL_0_RNI98M31 6 22 2 #SB_LUT4
set_location switch_clk_1MHz_inst.current_state_RNO_8[0] 5 24 4 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_1_rep1_RNO 5 19 3 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_din_RNO[1] 6 20 4 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg_RNI7S8U1[15] 6 22 6 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[10] 9 20 5 #SB_DFFR
set_location switch_clk_1MHz_inst.current_state_RNO_0[1] 5 24 0 #SB_LUT4
set_location switch_clk_1MHz_inst.current_state_RNI1TCQ_1[1] 4 24 7 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_stat[5] 4 22 5 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[81] 9 23 0 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[36] 13 24 7 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[19] 11 24 7 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[22] 3 17 3 #SB_DFFER
set_location switch_clk_1MHz_inst.current_state_RNO_5[0] 4 24 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[71] 9 27 4 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[56] 6 25 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din[1] 2 22 7 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_idle_RNO[3] 3 21 3 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle[3] 3 21 3 #SB_DFFER
set_location divisor_inst.counter_RNO[1] 7 20 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[12] 1 17 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[83] 5 17 3 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[5] 1 20 0 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[3] 7 21 5 #SB_DFFR
set_location switch_clk_1MHz_inst.counter_stat_cry_c[5] 4 22 5 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[39] 3 19 0 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_idle_RNO[5] 4 23 5 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_din[1] 5 24 2 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[64] 6 25 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[75] 9 25 6 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[54] 7 24 3 #SB_DFFER
set_location mosi_output_obuf_RNO 6 22 1 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_fast_RNIDHKD1[1] 2 20 1 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[7] 4 18 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[79] 1 18 1 #SB_DFFES
set_location switch_clk_1MHz_inst.counter_idle_cry_c[4] 4 23 4 #SB_CARRY
set_location switch_clk_2MHz_inst.current_state_fast_1_rep1 5 18 3 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[21] 3 18 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[38] 12 24 5 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[17] 10 24 0 #SB_DFFES
set_location config_register_latched_dec_inst.STATSR_RNO[0] 7 23 1 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_stat[4] 4 20 4 #SB_DFFER
set_location switch_clk_2MHz_inst.counter_din[3] 6 20 7 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat[61] 5 17 4 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[5] 4 18 1 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_din[7] 1 20 2 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_din_RNO[3] 6 24 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[84] 10 23 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[30] 5 27 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[4] 11 24 2 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[47] 5 17 5 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[8] 1 20 7 #SB_LUT4
set_location switch_clk_1MHz_inst.current_state_RNO_6[0] 4 21 4 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_idle[1] 4 23 1 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[16] 9 24 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[1] 2 22 7 #SB_LUT4
set_location switch_clk_2MHz_inst.delay_inst.delay_reg[6] 7 21 4 #SB_DFFR
set_location switch_clk_2MHz_inst.current_state_fast_fast_RNITUE9[1] 6 21 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[53] 1 19 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[34] 2 19 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[5] 11 24 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[25] 5 25 0 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[71] 4 17 3 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[13] 9 20 1 #SB_DFFR
set_location switch_clk_1MHz_inst.counter_stat[0] 4 22 0 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[35] 9 24 4 #SB_DFFES
set_location divisor_inst.clk_out_RNI3LEM 6 20 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[25] 4 18 6 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[74] 9 25 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[55] 6 25 4 #SB_LUT4
set_location divisor_inst.clk_out_RNO 6 21 4 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle_RNO[0] 3 21 0 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle[4] 3 21 4 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[82] 4 17 1 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[69] 2 17 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[43] 9 26 1 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[6] 1 20 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[8] 10 24 3 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[38] 2 19 2 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[13] 1 17 1 #SB_DFFES
set_location switch_clk_1MHz_inst.counter_idle_RNO[0] 4 23 0 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_din[2] 5 24 7 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[40] 10 24 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[27] 5 25 6 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_stat_cry_c[5] 4 20 5 #SB_CARRY
set_location switch_clk_1MHz_inst.counter_idle_cry_c[1] 4 23 1 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[45] 2 18 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_din[4] 2 20 7 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[81] 9 23 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[33] 7 24 1 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[1] 12 26 1 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_din[6] 2 22 2 #SB_DFFES
set_location switch_clk_1MHz_inst.counter_idle[4] 4 23 4 #SB_DFFER
set_location config_register_latched_dec_inst.STATCNF_1_RNO_0[0] 5 22 1 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle_cry_c[3] 3 21 3 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_din[14] 2 21 1 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[63] 6 26 6 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_RNO[1] 5 19 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[77] 11 26 0 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_idle_RNO[5] 3 21 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[85] 6 18 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[2] 4 19 3 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[40] 10 24 1 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[3] 2 20 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[14] 1 17 4 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[45] 9 26 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[24] 5 25 2 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_stat_cry_c[0] 4 20 0 #SB_CARRY
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[40] 6 19 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[32] 6 27 2 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_din[9] 1 20 6 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[82] 9 23 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[2] 12 24 6 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_din[5] 2 23 6 #SB_DFFER
set_location switch_clk_1MHz_inst.counter_idle[7] 4 23 7 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[87] 6 19 5 #SB_DFFES
set_location switch_clk_1MHz_inst.SEL_0_er_RNIQKO61 6 22 4 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location switch_clk_2MHz_inst.bit_sequence_din[13] 2 21 0 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[60] 5 26 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[79] 11 24 4 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[50] 9 23 1 #SB_DFFER
set_location switch_clk_1MHz_inst.current_state_RNI1TCQ[1] 5 22 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[65] 3 17 6 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat[1] 4 19 2 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[45] 9 26 3 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat[43] 2 19 3 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[12] 7 24 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[5] 2 23 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[57] 2 18 4 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[30] 3 18 5 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[46] 9 26 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[21] 10 24 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[29] 5 25 3 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[75] 2 19 5 #SB_LUT4
set_location switch_clk_2MHz_inst.counter_din_RNO[0] 6 20 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[43] 2 19 3 #SB_LUT4
set_location switch_clk_1MHz_inst.counter_stat[4] 4 22 4 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[31] 5 27 6 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat[21] 3 18 3 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_din[0] 2 22 3 #SB_DFFES
set_location switch_clk_2MHz_inst.counter_din_RNI6HAE1[3] 5 19 2 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[13] 1 17 1 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[82] 4 17 1 #SB_DFFES
set_location switch_clk_2MHz_inst.SEL_0_RNIC97Q 6 21 0 #SB_LUT4
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[0] 6 24 6 #SB_DFFR
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[65] 9 25 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[74] 9 25 2 #SB_DFFES
set_location switch_clk_1MHz_inst.bit_sequence_stat[53] 7 25 1 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat[16] 9 24 0 #SB_DFFES
set_location switch_clk_2MHz_inst.counter_stat[5] 4 20 5 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[60] 5 17 6 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_stat[4] 4 18 2 #SB_DFFER
set_location switch_clk_2MHz_inst.bit_sequence_stat[46] 4 18 4 #SB_DFFES
set_location switch_clk_2MHz_inst.bit_sequence_din_RNO[9] 1 20 6 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[11] 7 25 2 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din_RNO[0] 2 22 3 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_din[14] 3 22 5 #SB_DFFER
set_location switch_clk_2MHz_inst.delay_inst.delay_reg[5] 7 21 7 #SB_DFFR
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[54] 1 19 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[35] 2 19 0 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[6] 10 24 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[76] 1 19 1 #SB_LUT4
set_location divisor_inst_2.counter_RNISR1F[2] 5 23 6 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_fast_fast[1] 6 21 7 #SB_DFFR
set_location switch_clk_2MHz_inst.counter_din_RNO[3] 6 20 7 #SB_LUT4
set_location switch_clk_1MHz_inst.bit_sequence_stat[34] 9 24 5 #SB_DFFES
set_location switch_clk_1MHz_inst.MOSI_er_RNO 10 22 0 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[24] 4 18 0 #SB_DFFER
set_location switch_clk_1MHz_inst.bit_sequence_stat_RNO[54] 7 24 3 #SB_LUT4
set_location switch_clk_2MHz_inst.current_state_1_rep2_RNO 5 19 5 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat_RNO[10] 1 18 6 #SB_LUT4
set_location switch_clk_2MHz_inst.bit_sequence_stat[81] 3 17 5 #SB_DFFES
set_location switch_clk_1MHz_inst.delay_inst.delay_reg[5] 7 20 3 #SB_DFFR
set_io xor_out_dyn J1
set_io sel_output A9
set_io clk_output A6
set_io CLK B2
set_io xor_out_stat C9
set_io mosi_output H9
set_io miso_input A8
set_io RST_N C2
