set_location IN_MUX_bfv_11_17_0_ 11 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_20_0_ 9 20 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_21_0_ 10 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_18_0_ 10 18 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 11 23 3 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_cry_4_THRU_LUT4_0 11 17 5 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_cry_3_THRU_LUT4_0 11 17 4 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_cry_2_THRU_LUT4_0 11 17 3 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_cry_1_THRU_LUT4_0 11 17 2 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_cry_0_THRU_LUT4_0 11 17 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_4_THRU_LUT4_0 9 20 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_3_THRU_LUT4_0 9 20 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_2_THRU_LUT4_0 9 20 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_1_THRU_LUT4_0 9 20 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_0_THRU_LUT4_0 9 20 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_3_THRU_LUT4_0 10 21 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_2_THRU_LUT4_0 10 21 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_1_THRU_LUT4_0 10 21 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_0_THRU_LUT4_0 10 21 1 #SB_LUT4
set_location config_register_latched_dec_inst.STATCNF_1_RNIRDN51_0_config_register_latched_dec_inst.STATCNF_1_0_REP_LUT4_0 13 19 2 #SB_LUT4
set_location config_register_latched_dec_inst.DYNCNF_1_RNIR83V_10_config_register_latched_dec_inst.DYNCNF_1_10_REP_LUT4_0 12 18 7 #SB_LUT4
set_location config_register_latched_dec_inst.DYNCNF_1_RNIP1121_0_config_register_latched_dec_inst.DYNCNF_1_0_REP_LUT4_0 12 18 4 #SB_LUT4
set_location config_register_latched_dec_inst.DYNCNF_1_RNIBK121_9_config_register_latched_dec_inst.DYNCNF_1_9_REP_LUT4_0 12 18 2 #SB_LUT4
set_location config_register_latched_dec_inst.DYNCNF_1_RNI9I121_8_config_register_latched_dec_inst.DYNCNF_1_8_REP_LUT4_0 12 18 1 #SB_LUT4
set_location FSM_TEST_inst_slow.flag_input_reg_THRU_LUT4_0 11 19 5 #SB_LUT4
set_location FSM_TEST_inst_slow.current_state_RNIV6JP_0_1_FSM_TEST_inst_slow.bit_sequence_stat_0_REP_LUT4_0 11 14 3 #SB_LUT4
set_location FSM_TEST_inst_slow.SEL_0_RNI25J31_FSM_TEST_inst_slow.SEL_0_REP_LUT4_0 14 18 2 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6l_0_THRU_LUT4_0 14 19 4 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6k_0_THRU_LUT4_0 9 19 6 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6j_0_THRU_LUT4_0 9 19 4 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6i_0_THRU_LUT4_0 9 19 3 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6h_0_THRU_LUT4_0 9 19 7 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6g_0_THRU_LUT4_0 7 19 5 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6f_0_THRU_LUT4_0 7 19 2 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6e_0_THRU_LUT4_0 7 19 1 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6d_0_THRU_LUT4_0 7 18 1 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6c_0_THRU_LUT4_0 7 18 3 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6b_0_THRU_LUT4_0 7 18 5 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6_0_THRU_LUT4_0 7 18 7 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_5_0_THRU_LUT4_0 7 18 4 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_4_0_THRU_LUT4_0 7 19 6 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_3_0_THRU_LUT4_0 7 18 6 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_2_0_THRU_LUT4_0 7 18 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.flag_output_1_RNIVLAE1_FSM_TEST_inst_RAPIDA.flag_output_1_REP_LUT4_0 11 19 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.flag_input_reg_THRU_LUT4_0 10 22 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_RNI2J9G_0_FSM_TEST_inst_RAPIDA.bit_sequence_stat_0_REP_LUT4_0 11 20 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.SEL_0_RNI8H3V3_flag_output_ret_REP_LUT4_0 14 17 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.SEL_0_RNI7M5D1_0_FSM_TEST_inst_RAPIDA.SEL_0_REP_LUT4_0 14 17 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6c_0_THRU_LUT4_0 13 23 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6b_0_THRU_LUT4_0 12 23 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6_0_THRU_LUT4_0 12 23 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_5_0_THRU_LUT4_0 12 23 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_4_0_THRU_LUT4_0 12 23 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_3_0_THRU_LUT4_0 12 23 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_2_0_THRU_LUT4_0 13 23 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_3[0] 11 20 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_din_RNO[3] 12 19 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[44] 16 21 5 #SB_DFFES
set_location config_register_latched_dec_inst.DYNSR[7] 14 20 3 #SB_DFFER
set_location FSM_TEST_inst_slow.current_state_RNO[1] 12 17 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[9] 12 14 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[40] 9 16 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[0] 12 20 1 #SB_DFFES
set_location FSM_TEST_inst_slow.current_state_RNIR2L81_0[1] 12 17 2 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_idle_RNO[3] 10 18 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[10] 14 22 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[11] 13 21 1 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[61] 13 15 3 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[46] 11 15 1 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[86] 15 19 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[32] 14 21 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[26] 12 22 7 #SB_DFFER
set_location divisor_inst.clk_out_RNI3LEM 13 18 1 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_din[0] 9 19 1 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.counter_idle[4] 11 21 0 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[87] 10 11 4 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[24] 10 15 5 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[14] 9 17 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[74] 10 16 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[57] 14 23 0 #SB_DFFER
set_location config_register_latched_dec_inst.DYNCNF_1_RNIR83V[10] 13 19 0 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_idle[2] 10 18 2 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[18] 9 14 0 #SB_DFFER
set_location divisor_inst.counter[0] 14 18 5 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[21] 10 14 4 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[82] 11 14 1 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.current_state_fast_fast_RNIHTFF[1] 13 18 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[73] 16 22 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[58] 14 22 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[29] 13 22 2 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR[2] 14 20 4 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[31] 14 21 0 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[43] 11 16 0 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6h[0] 9 19 7 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[5] 12 20 2 #SB_DFFES
set_location config_register_latched_dec_inst.DYNCNF_1[10] 12 18 7 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_stat_cry_c[5] 11 17 5 #SB_CARRY
set_location FSM_TEST_inst_slow.counter_idle_RNO[0] 10 18 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[64] 13 16 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[15] 15 22 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[13] 15 22 3 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[64] 13 16 2 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[45] 11 16 3 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[37] 16 21 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[82] 11 14 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[18] 9 14 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[27] 10 15 2 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[1] 9 18 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6c[0] 13 23 5 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_din[6] 9 18 0 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[79] 12 22 2 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[50] 14 21 6 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[15] 10 13 1 #SB_DFFER
set_location divisor_inst_2.counter_RNO[0] 14 17 4 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[24] 10 15 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[81] 11 14 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[24] 11 22 7 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR[1] 13 20 6 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[3] 11 20 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[36] 15 20 6 #SB_DFFES
set_location FSM_TEST_inst_slow.current_state_RNO_0[1] 12 17 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[46] 11 15 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[46] 15 20 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[63] 13 16 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[51] 12 15 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[14] 15 22 4 #SB_DFFER
set_location divisor_inst_2.counter[1] 14 17 3 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat[67] 12 16 6 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[40] 9 16 7 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[38] 16 21 0 #SB_LUT4
set_location FSM_TEST_inst_slow.current_state_RNI9C3K2[1] 10 17 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[15] 10 13 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[22] 10 14 3 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[2] 9 17 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[37] 7 17 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[3] 9 17 4 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[9] 12 14 5 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[16] 9 13 6 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[4] 9 20 4 #SB_CARRY
set_location FSM_TEST_inst_slow.bit_sequence_stat[84] 12 12 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_c[2] 10 21 2 #SB_CARRY
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[78] 11 16 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[51] 12 15 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[23] 11 22 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[65] 15 20 5 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[5] 10 20 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[6] 11 20 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[49] 7 15 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[41] 15 21 5 #SB_LUT4
set_location config_register_latched_dec_inst.STATCNF_1_RNO[0] 13 17 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[52] 12 14 2 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[35] 7 17 2 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[19] 11 22 1 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.flag_input_reg 10 22 5 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[8] 14 22 6 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[28] 13 22 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[8] 13 21 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[12] 12 13 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[7] 9 18 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[30] 9 15 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[0] 9 18 3 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[86] 15 19 7 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[4] 11 15 2 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[13] 11 13 7 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[3] 9 20 3 #SB_CARRY
set_location FSM_TEST_inst_slow.current_state[1] 12 17 3 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_c[1] 10 21 1 #SB_CARRY
set_location FSM_TEST_inst_RAPIDA.counter_din_RNO_0[2] 12 19 0 #SB_LUT4
set_location flag_output_ret 14 17 1 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[56] 12 15 3 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6j[0] 9 19 4 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[56] 14 23 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[60] 13 22 5 #SB_DFFES
set_location FSM_TEST_inst_slow.counter_stat_RNO[2] 11 18 4 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6f[0] 7 19 2 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[2] 10 20 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[49] 15 21 6 #SB_DFFES
set_location FSM_TEST_inst_slow.current_state_RNIV6JP_1[1] 12 17 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[6] 12 15 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[14] 12 21 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[57] 12 15 6 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[32] 9 16 1 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_stat[4] 11 18 7 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_idle[3] 10 18 3 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[19] 10 14 5 #SB_DFFER
set_location divisor_inst.counter[1] 14 18 4 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[20] 10 14 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[70] 16 22 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[59] 13 22 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[5] 12 20 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[28] 10 15 6 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[8] 9 18 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[28] 13 22 4 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR[5] 14 20 2 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[32] 14 21 5 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[42] 9 16 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[85] 15 19 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[6] 12 20 6 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_stat_cry_c[4] 11 17 4 #SB_CARRY
set_location FSM_TEST_inst_slow.counter_idle_RNO[1] 10 18 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[67] 12 16 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[3] 11 15 6 #SB_DFFER
set_location FSM_TEST_inst_slow.SEL_0 14 18 2 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_0[0] 11 19 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[16] 15 22 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[77] 12 22 6 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[10] 14 22 7 #SB_DFFER
set_location divisor_inst.clk_out 14 18 3 #SB_DFFR
set_location config_register_latched_dec_inst.STATCNF_1_RNIRDN51[0] 16 19 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[63] 13 16 7 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[44] 11 16 6 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.counter_stat[5] 10 20 1 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_c[4] 10 21 4 #SB_CARRY
set_location FSM_TEST_inst_RAPIDA.counter_din_RNIEMB2[3] 16 19 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[34] 15 21 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[53] 14 21 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[63] 16 21 7 #SB_DFFES
set_location config_register_latched_dec_inst.DYNCNF_1[0] 12 18 4 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[81] 11 14 4 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[19] 10 14 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[26] 10 15 0 #SB_DFFER
set_location FSM_TEST_inst_slow.CLK_uC_5[0] 7 18 4 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[2] 11 21 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[1] 11 14 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[7] 9 18 2 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[60] 13 22 5 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_din_RNO[2] 12 17 4 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[68] 12 16 4 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[58] 13 15 4 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_din[12] 9 17 2 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[51] 14 21 2 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[8] 13 21 3 #SB_DFFES
set_location config_register_latched_dec_inst.DYNSR_RNO[5] 14 20 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[18] 12 22 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[27] 10 15 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[80] 11 15 7 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[69] 12 16 2 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[2] 11 20 3 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[6] 12 20 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[27] 12 22 3 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR[0] 13 20 7 #SB_DFFER
set_location config_register_latched_dec_inst.DYNCNF_1_RNIP1121[0] 12 18 5 #SB_LUT4
set_location FSM_TEST_inst_slow.current_state_RNIV6JP_0[1] 10 19 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_RNO[0] 12 19 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[2] 11 20 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[37] 16 21 3 #SB_DFFES
set_location FSM_TEST_inst_slow.current_state_RNO_0[0] 11 19 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[45] 11 16 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[45] 16 20 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[80] 14 23 4 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[62] 13 16 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.flag_output_1 11 19 4 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.current_state_1_rep2 17 19 0 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[74] 15 22 1 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[15] 15 22 5 #SB_DFFER
set_location divisor_inst_2.counter[0] 14 17 4 #SB_DFFR
set_location config_register_latched_dec_inst.STATSR[0] 13 20 3 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[66] 13 16 1 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[43] 11 16 0 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_5[0] 12 19 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat[6] 9 20 6 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[39] 15 21 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[73] 9 16 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[58] 13 15 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_fast_RNI78E11[1] 13 19 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_din[3] 12 19 7 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[50] 14 21 6 #SB_LUT4
set_location config_register_latched_dec_inst.STATCNF_1[0] 13 19 2 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_stat_RNO[4] 11 18 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[16] 9 13 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[21] 10 14 4 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[3] 9 17 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[43] 16 21 2 #SB_DFFER
set_location flag_output_0_ret_RNO 14 17 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[34] 7 15 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[4] 9 17 1 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[8] 14 22 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[67] 16 20 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[39] 15 21 2 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[12] 13 21 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6[0] 12 23 4 #SB_DFFR
set_location FSM_TEST_inst_slow.current_state_RNO_6[0] 11 18 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[11] 9 17 6 #SB_DFFES
set_location FSM_TEST_inst_slow.CLK_uC_3[0] 7 18 6 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[52] 14 21 1 #SB_DFFES
set_location config_register_latched_dec_inst.DYNSR_RNO[0] 13 20 7 #SB_LUT4
set_location FSM_TEST_inst_slow.current_state_RNIV6JP_2[1] 10 17 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[8] 12 14 4 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[17] 9 13 7 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNIUUIP1[6] 10 20 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[14] 12 21 6 #SB_DFFES
set_location FSM_TEST_inst_slow.counter_idle_cry_c[2] 10 18 2 #SB_CARRY
set_location FSM_TEST_inst_slow.bit_sequence_stat[87] 10 11 4 #SB_DFFER
set_location FSM_TEST_inst_slow.CLK_uC_6[0] 7 18 7 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[81] 15 21 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[21] 11 22 3 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[1] 11 20 2 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[3] 12 20 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[79] 11 16 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[52] 12 14 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle[1] 11 19 2 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[22] 11 22 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[64] 16 21 6 #SB_DFFER
set_location config_register_latched_dec_inst.DYNCNF_1[9] 12 18 2 #SB_DFFER
set_location FSM_TEST_inst_slow.MOSI_er_RNO 10 17 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_7[0] 11 21 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[6] 9 20 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[5] 11 20 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[34] 15 21 7 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[48] 9 15 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[71] 7 16 5 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[69] 16 22 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[40] 15 20 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[61] 13 15 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[53] 12 13 6 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[36] 6 17 3 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.current_state_1_rep1 14 19 5 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[71] 16 22 5 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[58] 14 22 5 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[16] 15 22 2 #SB_DFFES
set_location FSM_TEST_inst_slow.current_state_RNO_5[0] 10 19 6 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat[0] 11 18 3 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_idle[7] 10 18 7 #SB_DFFER
set_location FSM_TEST_inst_slow.CLK_uC 7 18 0 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.counter_stat[3] 10 20 2 #SB_DFFR
set_location FSM_TEST_inst_slow.current_state_RNO_8[0] 12 17 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[74] 10 16 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[74] 15 22 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[69] 16 22 2 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[9] 13 21 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[13] 11 13 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[4] 9 17 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[4] 11 21 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNI23T81[5] 11 21 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_din_RNO[1] 12 19 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[46] 15 20 0 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.CLK_uC_6b[0] 12 23 7 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[31] 9 15 4 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[1] 9 18 7 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[39] 7 17 0 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_din[14] 9 17 3 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[2] 12 20 4 #SB_DFFER
set_location config_register_latched_dec_inst.DYNSR_RNO[3] 14 20 0 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR_RNO[10] 13 20 0 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_cry_c[0] 11 17 0 #SB_CARRY
set_location FSM_TEST_inst_slow.counter_idle_RNO[5] 10 18 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[7] 12 14 1 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[10] 12 14 3 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[2] 9 20 2 #SB_CARRY
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[12] 15 22 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[13] 12 21 4 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.CLK_uC_3[0] 12 23 5 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_idle_cry_c[1] 10 18 1 #SB_CARRY
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[29] 10 15 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[48] 9 15 6 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_c[0] 10 21 0 #SB_CARRY
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[84] 15 19 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[30] 14 22 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[4] 11 20 5 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[24] 11 22 7 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_din_RNID6M9[1] 10 19 2 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_din[2] 12 17 4 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[57] 12 15 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle[2] 11 21 2 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[57] 14 23 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[21] 11 22 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[67] 16 20 3 #SB_DFFES
set_location FSM_TEST_inst_slow.counter_stat_RNO[3] 11 18 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[85] 12 12 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[12] 9 17 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_fast_fast_RNO[1] 14 19 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_1_rep2_RNO 17 19 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[3] 10 20 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[48] 15 21 3 #SB_DFFER
set_location divisor_inst.counter_RNO[0] 14 18 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[5] 11 15 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[76] 10 16 0 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[43] 16 21 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[54] 12 14 6 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[33] 9 15 1 #SB_DFFES
set_location FSM_TEST_inst_slow.CLK_uC_6l[0] 14 19 4 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[55] 13 22 7 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.CLK_uC_RNO 13 23 7 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR_RNO[9] 14 20 7 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat[5] 14 17 5 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_idle[0] 10 18 0 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[23] 10 14 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state[0] 12 19 5 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[71] 16 22 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[10] 12 14 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[9] 9 18 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[45] 16 20 6 #SB_DFFER
set_location config_register_latched_dec_inst.DYNSR[4] 14 20 1 #SB_DFFER
set_location config_register_latched_dec_inst.DYNCNF_1_RNIBK121[9] 12 18 3 #SB_LUT4
set_location FSM_TEST_inst_slow.current_state_RNO[0] 12 17 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[32] 9 16 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[33] 15 21 1 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[41] 9 15 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[78] 11 16 5 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[84] 15 19 1 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[7] 13 21 5 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_idle_RNO[2] 10 18 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[66] 13 16 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[2] 11 15 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.current_state_fast_RNI571R2[1] 10 20 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[1] 9 20 1 #SB_CARRY
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[17] 15 22 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[11] 15 22 0 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[62] 13 16 0 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[47] 10 15 7 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_RNO 14 19 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_RNI2J9G 11 19 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1 14 19 2 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[87] 15 19 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[35] 15 20 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[27] 12 22 3 #SB_DFFER
set_location divisor_inst_2.clk_out_RNO 13 17 6 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_din[1] 9 19 0 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[54] 12 14 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[54] 13 22 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[62] 16 22 1 #SB_DFFER
set_location config_register_latched_dec_inst.DYNSR[9] 14 20 7 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_stat_RNO[0] 11 18 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[80] 11 15 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[25] 10 15 1 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[15] 9 17 7 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_RNO 7 18 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[0] 10 20 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[3] 11 21 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.SEL_0_RNI8H3V3 13 18 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_din_RNI9NO1[1] 13 19 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[63] 16 21 7 #SB_LUT4
set_location flag_output_0_ret 14 17 2 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_din_RNO[1] 9 19 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[59] 13 15 7 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[30] 9 15 7 #SB_DFFES
set_location FSM_TEST_inst_slow.CLK_uC_6c[0] 7 18 3 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[56] 14 23 7 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[9] 13 21 6 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.CLK_uC 13 23 7 #SB_DFFR
set_location config_register_latched_dec_inst.DYNSR_RNO[4] 14 20 1 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat[6] 11 17 6 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[19] 11 22 1 #SB_LUT4
set_location divisor_inst_2.counter_RNO[2] 14 17 6 #SB_LUT4
set_location config_register_latched_dec_inst.STATCNF_1_RNIRDN51_0[0] 20 19 1 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_idle_cry_c[6] 10 18 6 #SB_CARRY
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[26] 10 15 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[83] 12 13 0 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[68] 12 16 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[72] 16 22 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[7] 13 21 5 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6b[0] 7 18 5 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[26] 12 22 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.SEL_0_RNI7M5D1 13 18 4 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR[3] 14 20 0 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.current_state_fast_fast[1] 14 19 1 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.current_state_RNO[1] 17 19 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[1] 11 20 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[30] 14 22 1 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[44] 11 16 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[44] 16 21 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[83] 15 19 0 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[4] 12 20 5 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[65] 13 16 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[1] 11 14 0 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.current_state_fast_1_rep1_RNI2J9G_0 11 19 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[14] 15 22 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[75] 14 22 3 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[12] 15 22 7 #SB_DFFER
set_location config_register_latched_dec_inst.DYNCNF_1_RNI9I121[8] 12 18 0 #SB_LUT4
set_location FSM_TEST_inst_slow.current_state_RNO_7[0] 10 17 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[65] 13 16 5 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[42] 9 16 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[36] 15 20 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[70] 11 16 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[59] 13 15 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_din[2] 12 19 1 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[78] 12 22 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[51] 14 21 2 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_RNO[5] 14 17 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[83] 12 13 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[17] 9 13 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[20] 10 14 1 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[0] 9 18 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_fast_fast_RNIKIU51[1] 17 18 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_fast_RNI9BBA2[1] 11 21 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[0] 11 21 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[42] 16 22 3 #SB_DFFES
set_location config_register_latched_dec_inst.DYNCNF_1_RNIP1121_0[0] 7 1 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[35] 7 17 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[3] 11 15 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[5] 9 18 1 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[66] 15 20 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[49] 15 21 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[11] 13 21 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[10] 9 18 6 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[78] 12 22 5 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[53] 14 21 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.MOSI_er_RNO 13 18 0 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR_RNO[7] 14 20 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[14] 10 13 7 #SB_DFFES
set_location divisor_inst_2.counter_RNO[1] 14 17 3 #SB_LUT4
set_location divisor_inst_2.counter_RNIFD27[2] 13 17 1 #SB_LUT4
set_location FSM_TEST_inst_slow.current_state_RNO_2[0] 12 17 6 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_idle_cry_c[5] 10 18 5 #SB_CARRY
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[25] 10 15 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[86] 12 11 6 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[80] 14 23 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[20] 11 22 2 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[0] 11 20 1 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[0] 12 20 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[53] 12 13 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[25] 12 22 4 #SB_LUT4
set_location config_register_latched_dec_inst.DYNCNF_1[8] 12 18 1 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[38] 7 17 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[8] 9 18 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[4] 11 20 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[35] 15 20 1 #SB_DFFER
set_location divisor_inst_2.clk_out 13 17 6 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[47] 10 15 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[72] 9 16 0 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_2[0] 12 19 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[68] 16 20 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[47] 15 21 4 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[60] 13 15 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[50] 7 15 2 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[37] 7 17 6 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[72] 16 22 6 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[59] 13 22 0 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[17] 15 22 6 #SB_DFFER
set_location divisor_inst_2.counter[2] 14 17 6 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_stat[1] 11 18 6 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_idle[4] 10 18 4 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[41] 9 15 2 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.counter_stat[0] 10 20 5 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.CLK_uC_4[0] 12 23 1 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[75] 10 16 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_din[1] 12 19 6 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[75] 14 22 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[68] 16 20 0 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.SEL_0 14 17 7 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[14] 10 13 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[23] 10 14 0 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[5] 9 18 1 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_4[0] 7 19 6 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[5] 10 21 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_din_RNO[0] 14 19 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[41] 15 21 5 #SB_DFFER
set_location RST_N_ibuf_RNIBJGC 16 30 0 #SB_LUT4
set_location FSM_TEST_inst_slow.current_state_RNO_4[0] 11 19 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[36] 6 17 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[2] 9 17 5 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[65] 15 20 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[3] 12 20 7 #SB_DFFER
set_location config_register_latched_dec_inst.DYNSR_RNO[2] 14 20 4 #SB_LUT4
set_location FSM_TEST_inst_slow.current_state_RNIV6JP[1] 10 19 5 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_cry_c[3] 11 17 3 #SB_CARRY
set_location FSM_TEST_inst_slow.counter_idle_RNO[6] 10 18 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[6] 12 15 5 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[11] 12 14 7 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_1[0] 12 19 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[5] 9 20 5 #SB_CARRY
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[13] 15 22 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[12] 13 21 7 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_idle_cry_c[0] 10 18 0 #SB_CARRY
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[28] 10 15 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[85] 12 12 5 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.counter_idle_cry_c[3] 10 21 3 #SB_CARRY
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[83] 15 19 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[31] 14 21 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[7] 11 22 0 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[23] 11 22 6 #SB_DFFER
set_location flag_output_0_ret_RNI1E8N2 13 19 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[50] 7 15 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle[3] 11 21 3 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[20] 11 22 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[66] 15 20 4 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[84] 12 12 4 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[11] 9 17 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[4] 10 20 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[7] 11 22 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_2[0] 13 23 2 #SB_DFFR
set_location divisor_inst.counter_RNO[1] 14 18 4 #SB_LUT4
set_location FSM_TEST_inst_slow.flag_input_reg 11 19 5 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_idle_RNIMHOQ[3] 10 17 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[4] 11 15 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[77] 11 16 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[42] 16 22 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[55] 12 15 0 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[34] 7 15 7 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.current_state_1_rep1_RNO 14 19 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[18] 12 22 0 #SB_DFFER
set_location mosi_output_obuf_RNO 13 18 7 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR_RNO[8] 14 20 5 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat[2] 11 18 4 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_idle[1] 10 18 1 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[76] 10 16 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[22] 10 14 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_4[0] 10 19 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state[1] 17 19 7 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[76] 13 22 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[9] 14 22 0 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[29] 13 22 2 #SB_DFFER
set_location config_register_latched_dec_inst.STATSR_RNO[0] 13 20 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[11] 12 14 7 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[6] 9 18 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[33] 9 15 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[79] 11 16 7 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.current_state_fast_RNO[1] 14 19 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[87] 15 19 2 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[5] 11 15 3 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[12] 12 13 1 #SB_DFFER
set_location FSM_TEST_inst_slow.CLK_uC_6d[0] 7 18 1 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.counter_stat_cry_c[0] 9 20 0 #SB_CARRY
set_location FSM_TEST_inst_slow.current_state[0] 12 17 7 #SB_DFFR
set_location config_register_latched_dec_inst.DYNSR[10] 13 20 0 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[55] 12 15 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[55] 13 22 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[61] 14 22 4 #SB_DFFER
set_location divisor_inst.clk_out_RNO 14 18 3 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR[8] 14 20 5 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_stat_RNO[1] 11 18 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_stat_RNO[1] 10 20 6 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_RNIE9EB1[6] 10 17 4 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[7] 12 14 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.current_state_RNO_6[0] 11 21 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[62] 16 22 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[15] 12 20 0 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_din_RNO[0] 9 19 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[56] 12 15 3 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat[31] 9 15 4 #SB_DFFES
set_location FSM_TEST_inst_slow.CLK_uC_6i[0] 9 19 3 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[4] 12 20 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[29] 10 15 3 #SB_DFFES
set_location FSM_TEST_inst_slow.CLK_uC_6e[0] 7 19 1 #SB_DFFR
set_location FSM_TEST_inst_slow.SEL_0_RNI25J31 13 17 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[82] 15 20 3 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[0] 11 14 3 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[76] 13 22 6 #SB_DFFES
set_location FSM_TEST_inst_slow.CLK_uC_2[0] 7 18 2 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.counter_stat[4] 10 20 0 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[71] 7 16 5 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[79] 12 22 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[52] 14 21 1 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_RNO[6] 11 17 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle_RNO[1] 11 19 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[2] 11 15 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[61] 14 22 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[48] 15 21 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[10] 13 21 0 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_din_RNO[3] 9 19 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[69] 12 16 2 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[13] 9 17 0 #SB_DFFES
set_location config_register_latched_dec_inst.DYNSR_RNO[6] 14 20 6 #SB_LUT4
set_location FSM_TEST_inst_slow.CLK_uC_6k[0] 9 19 6 #SB_DFFR
set_location FSM_TEST_inst_slow.current_state_RNO_1[0] 11 18 2 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_idle_cry_c[4] 10 18 4 #SB_CARRY
set_location FSM_TEST_inst_RAPIDA.current_state_fast[1] 14 19 3 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[3] 11 20 4 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[1] 12 20 3 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[39] 7 17 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din[9] 9 18 5 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[73] 9 16 2 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[81] 15 21 0 #SB_DFFES
set_location GND -1 -1 -1 #GND
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[73] 16 22 7 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_idle[5] 10 18 5 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.counter_stat[1] 10 20 6 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_idle_RNIHR3A2[7] 10 17 1 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[72] 9 16 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_din[0] 14 19 7 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_din_RNO_0[3] 10 19 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[40] 15 20 7 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.MOSI_er 13 18 0 #SB_DFFER
set_location FSM_TEST_inst_slow.current_state_RNO_3[0] 10 19 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[9] 14 22 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[64] 16 21 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[38] 16 21 0 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[13] 12 21 4 #SB_LUT4
set_location config_register_latched_dec_inst.DYNSR_RNO[1] 13 20 6 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_stat_cry_c[2] 11 17 2 #SB_CARRY
set_location FSM_TEST_inst_slow.counter_idle_RNO[7] 10 18 7 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[15] 12 20 0 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_idle_cry_c[3] 10 18 3 #SB_CARRY
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[82] 15 20 3 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[6] 11 20 7 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[22] 11 22 4 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din_RNO[2] 12 20 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_idle[0] 11 21 6 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[10] 9 18 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.CLK_uC_5[0] 12 23 6 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat[70] 11 16 2 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[70] 16 22 4 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_stat[3] 11 18 5 #SB_DFFR
set_location FSM_TEST_inst_slow.counter_idle[6] 10 18 6 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.counter_stat[2] 10 20 7 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[77] 11 16 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[77] 12 22 6 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.flag_output_1_RNIVLAE1 13 18 2 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.counter_din_RNO[2] 12 19 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[47] 15 21 4 #SB_DFFER
set_location config_register_latched_dec_inst.DYNSR[6] 14 20 6 #SB_DFFER
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[8] 12 14 4 #SB_LUT4
set_location FSM_TEST_inst_slow.current_state_RNIR2L81[1] 10 17 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[38] 7 17 1 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_din[15] 9 17 7 #SB_DFFES
set_location FSM_TEST_inst_slow.CLK_uC_6g[0] 7 19 5 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[1] 12 20 3 #SB_DFFER
set_location FSM_TEST_inst_slow.counter_stat_cry_c[1] 11 17 1 #SB_CARRY
set_location FSM_TEST_inst_slow.counter_idle_RNO[4] 10 18 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[11] 15 22 0 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_din[10] 13 21 0 #SB_DFFER
set_location divisor_inst_2.counter_RNISR1F[2] 13 17 5 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[60] 13 15 5 #SB_DFFES
set_location FSM_TEST_inst_slow.bit_sequence_stat[49] 7 15 4 #SB_DFFES
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[85] 15 19 4 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat_RNO[33] 15 21 1 #SB_LUT4
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[5] 11 20 6 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[25] 12 22 4 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.SEL_0_RNI7M5D1_0 13 17 0 #SB_LUT4
set_location FSM_TEST_inst_slow.counter_din[3] 9 19 2 #SB_DFFR
set_location FSM_TEST_inst_RAPIDA.counter_idle[5] 10 21 5 #SB_DFFR
set_location FSM_TEST_inst_slow.bit_sequence_stat_RNO[86] 12 11 6 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_din_RNO[13] 9 17 0 #SB_LUT4
set_location FSM_TEST_inst_slow.bit_sequence_stat[75] 10 16 5 #SB_DFFER
set_location FSM_TEST_inst_slow.MOSI_er 10 17 2 #SB_DFFER
set_location FSM_TEST_inst_RAPIDA.bit_sequence_stat[54] 13 22 1 #SB_DFFES
set_io xor_out_stat C9
set_io mosi_output H9
set_io miso_input A8
set_io xor_out_dyn J1
set_io sel_output A9
set_io s14 D2
set_io s12 H1
set_io clk_output A6
set_io CLK B2
set_io s13 E2
set_io RST_N C2
